<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>$(UserProfile)\Documents\WebDeploy\Packages\EmpowerJuvenileApi\build.$([System.DateTime]::Now.ToString("yyyy.MM.dd.HHmmss"))\EmpowerJuvenileApi.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>__SiteName__</DeployIisAppPath>
    <PublishDatabaseSettings>
      <!--<Objects xmlns="">-->
        <!--<ObjectGroup Name="DJSCaseMgtContext" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="DJSCaseMgtService.Models.DJSCaseMgtContext, DJSCaseMgtService" MigrationConfiguration="DJSCaseMgtService.Migrations.Configuration, DJSCaseMgtService" />
          </Object>
        </ObjectGroup>-->
        <!--<ObjectGroup Name="DJSCaseMgtContext" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="DJSCaseMgtService.Models.DJSCaseMgtContext, DJSCaseMgtService" MigrationConfiguration="DJSCaseMgtService.Migrations.Configuration, DJSCaseMgtService" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ELMAH" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="__ElmahSqlConnectionString__" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ELMAH_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="__ElmahSqlConnectionString__" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DJSCaseMgtService.oAuth.AuthContext" Order="8" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DJSCaseMgtService.oAuth.AuthContext, DJSCaseMgtService" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="9" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DJSCaseMgtService.Models.ApplicationDbContext, DJSCaseMgtService" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>-->
      <!--<Objects>
        <ObjectGroup Name="DJSCaseMgtContext" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="__DJSCaseMgtContext__" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DJSCaseMgtContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="__DJSCaseMgtContext__" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DJSCaseMgtService.Models.DJSCaseMgtContext" Order="2" Enabled="False" xmlns="">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="DJSCaseMgtService.Models.DJSCaseMgtContext, DJSCaseMgtService" MigrationConfiguration="DJSCaseMgtService.Migrations.Configuration, DJSCaseMgtService" />
          </Object>
        </ObjectGroup>
      </Objects>-->
    </PublishDatabaseSettings>
  </PropertyGroup>
  <!--<ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DJSCaseMgtService.oAuth.AuthContext-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DefaultConnection" />
    <_ConnectionStringsToInsert Include="DJSCaseMgtService.oAuth.AuthContext" />
  </ItemGroup>-->
  <!--<ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DJSCaseMgtService.Models.DJSCaseMgtContext-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DJSCaseMgtService.Models.DJSCaseMgtContext" />
  </ItemGroup>-->
  <!--<ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DJSCaseMgtContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ELMAH-Web.config Connection String" />
  </ItemGroup>-->
  <!--<ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DJSCaseMgtContext-Web.config Connection String">
      <ParameterValue>Data Source=DIT-MSSQL01-DV;Initial Catalog=JusticeServices;User ID=JusticeServicesAppId;Password=kidyovr99!!;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DJSCaseMgtService.Models.DJSCaseMgtContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ELMAH-Web.config Connection String">
      <ParameterValue>Data Source=dit-mssql01-dv;Initial Catalog=ELMAH;Persist Security Info=True;User ID=elmahlogger;Password=$reggolelm1</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DJSCaseMgtService.Models.DJSCaseMgtContext" />
  </ItemGroup>-->
</Project>