<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="Environment" value="__Environment__" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
    <add key="elmah.mvc.allowedRoles" value="__ElmahMvcHandlerAllowedRoles__" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
    <add key="ViewerRole" value="__ViewerRole__" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
    <add key="EditorRole" value="__EditorRole__" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
    <add key="AdministratorRole" value="__AdministratorRole__" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
  </appSettings>

  <connectionStrings>
    <add name="ELMAH" connectionString="__ElmahSqlConnectionString__" providerName="System.Data.SqlClient" xdt:Transform="Replace" />
    <add name="DJSCaseMgtContext" connectionString="__DJSCaseMgtContext__" providerName="System.Data.SqlClient" xdt:Transform="Replace" />
  </connectionStrings>

  <elmah>
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="ELMAH" applicationName="__ElmahApplicationName__" xdt:Transform="Replace" />
  </elmah>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>