<div ng-controller="MenuConfigController" class="no-print">
    <nav class="navbar navbar-inverse navbar-fixed-top" ng-show="ShowNavbar" role="navigation">

        <div class="container no-print">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- You'll want to use a responsive image option so this logo looks good on devices - I recommend using something like retina.js (do a quick Google search for it and you'll find it) -->
                <a class="navbar-brand" href="#/">{{lblApplicationName}}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse no-print">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#/casemgt">Case Management</a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" ng-show="djs" data-toggle="dropdown">Reports<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li ng-repeat="opt in ReportsMenuItems">
                                <a href="{{ opt.Template }}" target="_blank">{{ opt.DisplayName }}</a>
                            </li>
                        </ul>
                    </li>
                    <!--<li class="dropdown" ng-show="showReportCaseManager">
                        <a class="dropdown-toggle" data-toggle="dropdown">Reports<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li ng-repeat="opt in ReportsMenuItems">
                                <a href="{{ opt.Template }}" target="_blank">{{ opt.DisplayName }}</a>
                            </li>
                        </ul>
                    </li>-->
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">Documents<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li ng-repeat="opt in DocumentMenuItems">
                                <a target="_blank" href="{{ opt.Link }}">{{ opt.Title }}</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown" ng-show="JuvenileHeader">
                        <a class="dropdown-toggle" ng-show="admin" data-toggle="dropdown" >Admin<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#/admin_document">Upload a Service Profile</a></li>
                            <li class="divider"></li>
                            <li ><a href="#/deleteProfile">Delete Pending Profile(s)</a></li>
                            <li class="divider"></li>
                            <li ng-repeat="opt in AdminMenuItems">
                                <a href="{{ opt.Template }}">{{ opt.DisplayName }}</a>
                            </li>
                        </ul>
                        <!--<ul class="nav">
                            <li class="dropdown dropdown-list">
                                <a href="javascript:;" data-toggle="dropdown" dropdown-animate="" aria-haspopup="true" class="dropdown-toggle">
                                    <i class="glyphicon glyphicon-bell"></i>
                                    <span class="label label-danger">11</span>
                                </a>
                            </li>
                        </ul>-->
                    </li>
                    <li class="dropdown" ng-show="AdultHeader">
                        <a class="dropdown-toggle" ng-show="admin" data-toggle="dropdown">Admin<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#/admin_document">Upload a Service Profile</a></li>
                            <li class="divider"></li>
                            <li ng-repeat="opt in AdminMenuItems">
                                <a href="{{ opt.Template }}">{{ opt.DisplayName }}</a>
                            </li>
                        </ul>
                        
                    </li>
                    <li class="dropdown" ng-show="CWBHeader">
                        <a class="dropdown-toggle" ng-show="admin" data-toggle="dropdown">Admin<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#/admin_document">Upload a Service Profile</a></li>
                            <li class="divider"></li>
                            <li ng-repeat="opt in AdminMenuItems">
                                <a href="{{ opt.Template }}">{{ opt.DisplayName }}</a>
                            </li>
                        </ul>
                        <!--<ul class="nav">
            <li class="dropdown dropdown-list">
                <a href="javascript:;" data-toggle="dropdown" dropdown-animate="" aria-haspopup="true" class="dropdown-toggle">
                    <i class="glyphicon glyphicon-bell"></i>
                    <span class="label label-danger">11</span>
                </a>
            </li>
        </ul>-->
                    </li>
                    <li>
                        <div class="navbar-header">
                          

                            <div class="nav navbar-brand pull-right" ng-show="super">
                                <a ng-click="notifiation()">
                                    <i class="glyphicon glyphicon-bell" ng-init="FunCall()"></i>
                                     <span class="label label-danger">{{alertcount}}</span>
                                </a>
                            </div>

                        </div>
                    </li>
                    
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-user fa-fw"></i> {{CurrentUser}}<i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <!--<li>
                                <a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                            </li>-->
                            <li class="divider"></li>
                            <li>
                                <a ng-click="logOut()"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                            </li>
                        </ul>
                        <!-- /.dropdown-user -->
                    </li>
                    <li></li>
                </ul>
            </div>
            <!--<div><span style="color:white; font-size:smaller;">Tuan Nguyen </span>></div>-->
            <!-- /.navbar-collapse -->

        </div>
        <!-- /.container -->
    </nav>
</div>
