<div class="container" ng-controller="homeController">
    <div style="background-image: url(images/backgroundempower.JPG); height: 900px; width: 3000px; background-repeat: no-repeat;" ng-show="IsVisibleDJS">
        <div class="container" style="">
            <h3><i class="fa fa-check-circle"></i>Welcome to EMPOWER!</h3>

        </div>
  
    </div>
    <div style="background-image: url(images/backgroundcwb.JPG);height: 900px; width: 3000px; background-repeat: no-repeat;" ng-show="IsVisibleCWB">
        <div class="container" style="white-space: nowrap; overflow: hidden;text-overflow: ellipsis;">
            <h3><i class="fa fa-check-circle"></i>Welcome to Office of Community Wealth Building</h3>
        </div>
        
    </div>
</div>
