
<form class="form-horizontal no-print" name="frmEmployment" media="print" novalidate>
    <div class="modal-header">
        <h4 class="modal-title"><i class="fa fa-check-circle"></i> Employment</h4>
    </div>
    <div class="container custom-modal-body">
        <accordion close-others="false">
            <accordion-group heading="Goals" is-open="true">
                <!--is-disabled="true"-->
                <!--<label class="control-label">Referral Source Information:</label>-->
                <div class="row form-group">
                    <label class="col-sm-3 control-label">Employment Goal *</label>
                    <div class="col-sm-9">
                        <textarea class="form-control" style="resize:none" rows="3"
                                  ng-model="CurrentPlacementEmployment.EmploymentGoal" ng-required="true"></textarea>
                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-sm-3 control-label">Educational/Training Goal *</label>
                    <div class="col-sm-9">
                        <textarea class="form-control" style="resize:none" rows="3"
                                  ng-model="CurrentPlacementEmployment.EduTrainGoal" ng-required="true"></textarea>
                    </div>
                </div>
            </accordion-group>
            <accordion-group heading="Occupational Strengths" is-open="true">
                <div class="row form-group">
                    <label class="col-sm-3 control-label">Work Experience</label>
                    <div class="col-sm-9">
                        <textarea class="form-control" style="resize:none" rows="4"
                                  ng-model="CurrentPlacementEmployment.WorkExperience"></textarea>
                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-sm-3 control-label">Strengths</label>
                    <div class="col-sm-9">
                        <textarea class="form-control" style="resize:none" rows="4"
                                  ng-model="CurrentPlacementEmployment.Strengths"></textarea>
                    </div>
                </div>
            </accordion-group>
            <accordion-group heading="Education and Training Strengths" is-open="false">
                <!--<div class="row form-group">
                    <label class="col-sm-3 control-label">Highest Ed Attainment Completed</label>
                    <div class="col-sm-9">
                        <textarea class="form-control" style="resize:none" rows="4"
                                  ng-model="CurrentPlacementEmployment.HighestEd"></textarea>
                    </div>
                </div>-->
                <div class="row form-group">
                    <label class="col-sm-3 control-label">Additional Training Attended</label>
                    <div class="col-sm-9">
                        <textarea class="form-control" style="resize:none"
                                  ng-model="CurrentPlacementEmployment.AddtlTraining"></textarea>
                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-sm-3 control-label">Credentials Received</label>
                    <div class="col-sm-9">
                        <textarea class="form-control" style="resize:none"
                                  ng-model="CurrentPlacementEmployment.Credentials"></textarea>
                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-sm-3 control-label">List all barriers to employment and how they will be addressed</label>
                    <div class="col-sm-9">
                        <textarea class="form-control" style="resize:none"
                                  ng-model="CurrentPlacementEmployment.Barriers"></textarea>
                    </div>
                </div>
            </accordion-group>
            <accordion-group heading="Action Plans" is-open="false" ng-show="CanShowAP">
                <div class="row form-group">
                    <label class="col-sm-3 control-label">Action Plan</label>
                    <div class="col-sm-9">
                        <table st-table="displayed" st-safe-src="rowCollection" ng-model="selectedPredicate"
                               class="sttable table-striped action-plan" style="height:auto;max-height:300px;margin-bottom:10px;">
                            <thead>
                                <tr>
                                    <th class="action-plan-add-edit">
                                        <span style="cursor:pointer" class="glyphicon glyphicon-plus-sign" ng-click="AddorEditActionPlan()"></span>
                                    </th>
                                    <th st-sort="Objective">Objective</th>
                                    <th st-sort="ActionSteps">Action Steps</th>
                                    <th st-sort="ResponsibleParty">Responsible Party</th>
                                    <th st-sort="StartDate">Start Date</th>
                                    <th st-sort="ReviewDate">Review Date</th>
                                    <th st-sort="ProjEndDate">Projected End Date</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody ng-hide="isLoading">
                                <tr ng-repeat="row in CurrentActionPlans| orderBy: '-StartDate'">

                                    <td class="action-plan-add-edit">
                                        <span style="cursor:pointer" class="fa fa-pencil-square-o" ng-click="AddorEditActionPlan(row)"></span>
                                    </td>
                                    <td>{{row.Objective}}</td>
                                    <td>{{row.ActionSteps}}</td>
                                    <td>{{row.ResponsibleParty}}</td>
                                    <td>{{row.StartDate | date: 'MM/dd/yy' }}</td>
                                    <td>{{row.ReviewDate | date: 'MM/dd/yy' }}</td>
                                    <td>{{row.ProjEndDate | date: 'MM/dd/yy' }}</td>


                                    <!--<td></td>-->
                                    <td>
                                        <button type="button" class="btn btn-xs btn-primary action-plan-delete"
                                                ng-show="admin" ng-click="DeleteActionPlan(row)">
                                            Delete
                                        </button>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </accordion-group>
        </accordion>
    </div>
    <div class="modal-footer">
        <div class="col-sm-4 print-btn">
            <button type="button" class="btn btn-xs btn-primary" ng-show="CanShowAP" ng-click="PrintEmploymentPlan()"><span class="fa fa-print"></span> Print</button>
            <span class="alert-warning">* are mandatory</span>
        </div>
        <div class="col-sm-offset-4 col-sm-4">
            <button type="submit" class="btn btn-sm btn-primary" ng-disabled="frmEmployment.$invalid || !frmEmployment.$dirty" ng-click="CreateOrUpdate(!frmEmployment.$invalid, CurrentPlacementEmployment)">{{ SubmitButtonText }}</button>
            <button type="button" class="btn btn-sm btn-primary" ng-disabled="!frmEmployment.$dirty" ng-click="Reset()">Reset</button>
            <button type="button" class="btn btn-sm btn-primary" ng-click="CloseModal()">Cancel</button>
        </div>
    </div>
</form>

