<form class="form-horizontal" name="frmServiceUnit" novalidate>
    <div class="modal-header">
        <h4 class="modal-title"><i class="fa fa-check-circle"></i> Service Unit</h4>
    </div>
    <div class="container custom-modal-body">
        <div class="form-group">
            <label class="col-sm-4 control-label">Month *</label>
            <div class="col-sm-6">
                <div class="input-group">
                    <select class="form-control btn btn-default dropdown-toggle"
                            ng-model="ServiceUnit.SelectedMonth" ng-required="true"                            
                            ng-options="item.MonthName for item in Months track by item.Month">
                        <option value="">Month</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">Year *</label>
            <div class="col-sm-6">
                <select class="form-control btn btn-default dropdown-toggle"
                        ng-model="ServiceUnit.SelectedYear" ng-required="true"
                        ng-options="item.YearValue for item in Years track by item.Year">
                    <option value="">Year</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">Units *</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="txtUnits" placeholder="Service Units"
                       ng-model="ServiceUnit.Units" required>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="col-sm-12">
            <button type="submit" class="btn btn-sm btn-primary" ng-disabled="frmServiceUnit.$invalid || !frmServiceUnit.$dirty" ng-click="CreateOrUpdate(!frmServiceUnit.$invalid, ServiceUnit)">{{ SubmitButtonText }}</button>
            <button type="button" class="btn btn-sm btn-primary" ng-click="Reset()">Reset</button>
            <button type="button" class="btn btn-sm btn-primary" ng-click="CloseServiceUnit()">Cancel</button>            
        </div>
        <div class="col-sm-12">
            <span class="alert-warning">* are mandatory</span>
        </div>
    </div>
</form>