
<form class="form-horizontal no-print" name="frmEnrollment" media="print" novalidate>
    <div class="modal-header">        
        <h4 class="modal-title"><i class="fa fa-check-circle"></i> {{modalEnrollmentTitle}}</h4>
    </div>    
    <div class="container custom-modal-body">
        <accordion close-others="false">
            <accordion-group heading="Service Details" is-open="true">
                <!--is-disabled="true"-->
                <!--<label class="control-label">Referral Source Information:</label>-->
                <div class="row form-group">
                    <label class="col-sm-3 control-label">Referral Date</label>
                    <div class="col-sm-3">
                        <div class="input-group" ng-class="{ 'has-error': frmEnrollment.txtReferralDate.$invalid }">
                            <input type="text" class="form-control" name="txtReferralDate" placeholder="MM/dd/yyyy" onkeyup="addSlashes(this);"
                                   ng-model="CurrentPlacementEnrollment.ReferralDate" datepicker-popup="MM/dd/yyyy"
                                   is-open="datePicker.instances['ReferralDate']" close-text="Close"
                                   aw-datepicker-pattern="^(0[1-9]|1[0-2])\/(0[1-9]|1\d|2\d|3[01])\/(19|20)\d{2}$"
                                   datepicker-options="dateOptions" show-button-bar="false"  ng-readonly="truefalse"/>                       
                        </div>
                    </div>
                    <p ng-show="frmEnrollment.txtReferralDate.$invalid" class="help-block">
                        Enter a valid Date

                    </p>
                    <div >
                        
                        <label class="col-sm-2-5 control-label">{{title}}</label>
                        <div class="col-sm-3"  ng-show="IsVisibleForAdult">
                            <input type="text" class="form-control" name="txtScore" placeholder="ICN Number"
                                   ng-model="CurrentPlacementEnrollment.ICN" maxlength="15" ng-required={{x}}>
                        </div>
                    </div>

                </div>
                <div class="row form-group">
                    <label class="col-sm-3 control-label">{{lblReferralSource}}</label>
                    <div class="col-sm-5">
                        <select class="form-control btn btn-default dropdown-toggle"
                                ng-model="CurrentPlacementEnrollment.Source" ng-required="true"
                                tooltip-placement="bottom" tooltip-special="{{  ' Email: ' + CurrentPlacementEnrollment.Source.EMail    &#013     +  '   |    '  +  'Phone: ' + CurrentPlacementEnrollment.Source.Phone    &#013    +  '   |    '+ ' Fax: ' + CurrentPlacementEnrollment.Source.Fax +  '   |    '   + 'Title: ' + CurrentPlacementEnrollment.Source.JobTitle.Name }}"
                                ng-options="item as (item.LastName + ',' + item.FirstName) for item in AllReferrals|orderBy:'LastName' track by item.ID">
                            <option value="">{{lblReferralDropDown}}</option>
                        </select>
                    </div>
                
                </div>
                <label class="col-sm-3 control-label">Referral Source Details</label><br>
                <div class="col-sm-9">
                     <strong>Email :</strong>    {{  CurrentPlacementEnrollment.Source.EMail }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Phone :</strong>  {{ CurrentPlacementEnrollment.Source.Phone }} <br> <br><p> <strong>Fax :</strong> {{CurrentPlacementEnrollment.Source.Fax}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Title :</strong>  {{CurrentPlacementEnrollment.Source.JobTitle.Name }}</p></div>
                    <!--c[item.FirstName]+'-'+c[item.LastName]-->
                    <div class="row form-group">
                        <label class="col-sm-3 control-label">Refer to this Service *</label>
                        <div class="col-sm-9">
                            <select class="form-control btn btn-default dropdown-toggle" ng-required="true"
                                    ng-model="CurrentPlacementEnrollment.ServiceProgramCategory" tooltip-placement="bottom"
                                    tooltip-special="{{ CurrentPlacementEnrollment.ServiceProgramCategory.ServiceProgram.Name + ' | ' + CurrentPlacementEnrollment.ServiceProgramCategory.ServiceCategory.Name }}"
                                    ng-options="item as (item.ServiceProgram.Name + ' | ' + item.ServiceCategory.Name) for item in ServiceProgramCategories track by item.ID">
                                <option value="">Select Service</option>
                            </select>
                        </div>
                    </div>

                    <div class="row form-group" ng-show="IsVisibleForDJS">
                        <label class="col-sm-3 control-label">Basis of Recommendation* / Referral</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" style="resize:none"
                                      ng-model="CurrentPlacementEnrollment.BasisofReferral" ng-required=xreferral></textarea>
                        </div>
                    </div>

                    <div class="row form-group">
                        <label class="col-sm-3 control-label">{{CaseManagerNotes}}</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" style="resize:none" rows="4"
                                      ng-model="CurrentPlacementEnrollment.SourceNotes"></textarea>
                        </div>
                    </div>
</accordion-group>
            <accordion-group heading="More Details" is-open="false" ng-show="CanShowRDJJS">
                <!--is-disabled="true"-->
                    <div class="row form-group">
                        <label class="col-sm-3 control-label">Referral Status Note</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" style="resize:none" rows="4"
                                        ng-model="CurrentPlacementEnrollment.Comments"></textarea>
                        </div>                            
                    </div>

                
                    <div class="row form-group" ng-show="IsVisibleForDJS">

                        <label class="col-sm-3 control-label">{{YouthConselorName}}</label>
                        <div class="col-sm-5" >
                            <select class="form-control btn btn-default dropdown-toggle"
                                    ng-model="CurrentPlacementEnrollment.Counselor"
                                    ng-mouseover="GenerateToolTip(CurrentPlacementEnrollment.Counselor, 'Counselor')"
                                    tooltip-placement="bottom" tooltip-special="{{ FormattedCounselorName }}"
                                    ng-options="item as (item.LastName + ',' + item.FirstName) for item in AllCounselors|orderBy:'LastName'  track by item.ID">
                                <option value="">Select staff member</option>
                            </select>
                        </div>
                    </div>

                    <div class="row form-group">
                        <label class="col-sm-3 control-label">Service Begin Date</label>
                        <div class="col-sm-3">
                            <div class="input-group" ng-class="{ 'has-error': frmEnrollment.txtServiceStartDate.$invalid }">
                                <input type="text" class="form-control" name="txtServiceStartDate" placeholder="mm/dd/yyyy" onkeyup="addSlashes(this);"
                                       ng-model="CurrentPlacementEnrollment.BeginDate" datepicker-popup="MM/dd/yyyy"
                                       is-open="datePicker.instances['ServiceBeginDate']" close-text="Close"
                                       aw-datepicker-pattern="^(0[1-9]|1[0-2])\/(0[1-9]|1\d|2\d|3[01])\/(19|20)\d{2}$"
                                       datepicker-options="dateOptions" show-button-bar="false" />

                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="datePicker.open($event, 'ServiceBeginDate')">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <p ng-show="frmEnrollment.txtServiceStartDate.$invalid" class="help-block">
                            Enter a valid Date
                        </p>
                        <label class="col-sm-2 control-label">End Date</label>
                        <div class="col-sm-3">
                            <div class="input-group" ng-class="{ 'has-error': frmEnrollment.txtServiceEndDate.$invalid }">
                                <input type="text" class="form-control" name="txtServiceEndDate" placeholder="mm/dd/yyyy" onkeyup="addSlashes(this);"
                                       ng-model="CurrentPlacementEnrollment.EndDate" datepicker-popup="MM/dd/yyyy"
                                       is-open="datePicker.instances['ServiceEndDate']" close-text="Close"
                                       aw-datepicker-pattern="^(0[1-9]|1[0-2])\/(0[1-9]|1\d|2\d|3[01])\/(19|20)\d{2}$"
                                       datepicker-options="dateOptions" show-button-bar="false"  />

                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="datePicker.open($event, 'ServiceEndDate')">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <p ng-show="frmEnrollment.txtServiceEndDate.$invalid " class="help-block">
                            Enter a valid Date
                        </p>
                    </div>

                    <div class="row form-group">
                        <label class="col-sm-3 control-label">Case Status</label>
                        <div class="col-sm-8">
                            <select class="form-control btn btn-default dropdown-toggle"
                                    ng-model="CurrentPlacementEnrollment.ServiceRelease"
                                    tooltip-placement="bottom" tooltip-special="{{ CurrentPlacementEnrollment.ServiceRelease.Name }}"
                                    ng-options="item as item.Name for item in AllServiceReleases|orderBy:'Name'  track by item.ID">
                                <option value="">Select Case Status</option>
                            </select>
                        </div>
                    </div>

                    <div class="row form-group">
                        <label class="col-sm-3 control-label">{{lblReason}}</label>
                        <div class="col-sm-8">
                            <select class="form-control btn btn-default dropdown-toggle"
                                    ng-model="CurrentPlacementEnrollment.ServiceOutcome"
                                    tooltip-placement="bottom" tooltip-special="{{ CurrentPlacementEnrollment.ServiceOutcome.Name }}"
                                    ng-options="item as item.Name for item in AllServiceOutcomes|orderBy:'Name'  track by item.ID">
                                <option value="">{{lblReasonDropDown}}</option>
                            </select>
                        </div>
                    </div>
                    
                

                    <div class="row form-group" ng-show="IsVisibleForDJS">
                        <label class="col-sm-3 control-label">Outcome Comments</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" style="resize:none" rows="4"
                                        ng-model="CurrentPlacementEnrollment.Outcome"></textarea>
                        </div>
                    </div>
                <div class="row form-group">
                    <label class="col-sm-3 control-label">{{lblDateCaseAssigned}}</label>
                    <div class="col-sm-3" >
                        <div class="input-group" ng-class="{ 'has-error': frmEnrollment.txtDateCaseAssigned.$invalid }" ng-show="ShowDateCaseAssigned">
                            <input type="text" class="form-control" name="txtDateCaseAssigned" placeholder="mm/dd/yyyy" onkeyup="addSlashes(this);"
                                   ng-model="CurrentPlacementEnrollment.DateCaseAssigned" datepicker-popup="MM/dd/yyyy"
                                   is-open="datePicker.instances['DateCaseAssigned']" close-text="Close"
                                   aw-datepicker-pattern="^(0[1-9]|1[0-2])\/(0[1-9]|1\d|2\d|3[01])\/(19|20)\d{2}$"
                                   datepicker-options="dateOptions" show-button-bar="false" />

                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="datePicker.open($event, 'DateCaseAssigned')">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    </div>

                    <div class="row form-group">
                        <label class="col-sm-3 control-label">Progress Notes</label>
                        <div class="col-sm-9" style="border:1px thin gray;">
                            <table st-table="displayed" st-safe-src="rowCollection" ng-model="selectedPredicate"
                                   class="sttable table-striped" style="max-height:120px;margin-bottom:10px;">
                                <thead>
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-plus-sign" ng-click="AddorEditProgressNotes()"></span>
                                        </td>
                                        <th style="width:15%"></th>
                                        <th st-sort="CommentDate" style="text-align:left">Date</th>
                                        <th st-sort="ContactType">Contact Type</th>
                                        <th st-sort="Comment" style="text-align:center">Comment</th>
                                        <th></th>

                                    </tr>
                                </thead>
                                <tbody ng-hide="isLoading">
                                    <tr ng-repeat="row in CurrentProgressNotes| orderBy: '-CommentDate'">

                                        <td class="col-sm-1">
                                            <i class="fa fa-pencil-square-o" ng-click="AddorEditProgressNotes(row)"></i>
                                        </td>
                                        <td class="col-sm-2" style="width:100% ">{{row.CommentDate | date: 'MM/dd/yyyy' }}</td>
                                        <td class="col-sm-2" style="width:100% ">{{row.ContactType.Name}}</td>
                                        <td class="col-sm-6" style="width:100% ">{{row.Comment}}</td>

                                        <!--<td></td>-->
                                        <td class="col-sm-1">
                                            <button type="button" class="btn btn-xs btn-primary" style="margin-bottom:5px ;width:120%"
                                                    ng-show="admin" ng-click="DeleteProgressNote(row)">
                                                Delete
                                            </button>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-sm-3 control-label">Service Units</label>
                        <div class="col-sm-6">
                            <table st-table="displayed" st-safe-src="rowCollection" ng-model="selectedPredicate"
                                   class="sttable table-striped" style="max-height:120px;margin-bottom:10px;">
                                <thead>
                                    <tr>
                                        <td class="col-sm-2">
                                            <span class="glyphicon glyphicon-plus-sign" ng-click="AddorEditServiceUnits()"></span>
                                        </td>
                                        <th class="col-sm-3">Month</th>
                                        <th class="col-sm-3">Year</th>
                                        <th class="col-sm-1">Units</th>
                                        <th class="col-sm-1"></th>
                                    </tr>
                                </thead>
                                <tbody ng-hide="isLoading">
                                    <tr ng-repeat="row in CurrentServiceUnits">
                                        <td class="col-sm-2">
                                            <i class="fa fa-pencil-square-o" ng-click="AddorEditServiceUnits(row)"></i>

                                        </td>
                                        <td class="col-sm-3">{{row.Month}}</td>
                                        <td class="col-sm-3">{{row.Year}}</td>
                                        <td class="col-sm-2">{{row.Units}}</td>
                                        <td class="col-sm-1">
                                            <button type="button" class="btn btn-xs btn-primary" style="margin-bottom:5px"
                                                    ng-show="admin" ng-click="DeleteserviceUnit(row)">
                                                Delete
                                            </button>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
</accordion-group>
        </accordion>
    </div>
    <div class="modal-footer">
        <div class="col-sm-2">
            <span class="alert-warning">* are mandatory</span>
        </div>
        <div class="col-sm-offset-6 col-sm-4">
            <button type="submit" class="btn btn-sm btn-primary" ng-disabled="frmEnrollment.$invalid || !frmEnrollment.$dirty" ng-click="CreateOrUpdate(!frmEnrollment.$invalid, CurrentPlacementEnrollment)">{{ SubmitButtonText }}</button>
            <button type="button" class="btn btn-sm btn-primary" ng-disabled="!frmEnrollment.$dirty" ng-click="Reset()">Reset</button>
            <button type="button" class="btn btn-sm btn-primary" ng-click="CloseModal()">Cancel</button>
        </div>
    </div>
</form>

