
<form class="form-horizontal" name="frmProgressNote" novalidate>
    <div class="modal-header">
        <h4 class="modal-title"><i class="fa fa-check-circle"></i> Progress Note</h4>
    </div>    
    <div class="container custom-modal-body">
        <div class="form-group" ng-class="{ 'has-error' : submitted && frmProgressNote.idCode.$invalid }">
            <label class="col-sm-3 control-label">Date *</label>
            <div class="col-sm-4">
                <div class="input-group" ng-class="{ 'has-error': frmProgressNote.txtDOB.$invalid }">
                    <input type="text" class="form-control" name="txtDOB" placeholder="MM/dd/yyyy" onkeyup="addSlashes(this);"
                           ng-model="ProgressNote.CommentDate" ng-required="true"
                           datepicker-popup="MM/dd/yyyy" close-text="close"
                           is-open="datePicker.instances['NoteDate']" datepicker-options="dateOptions"
                           aw-datepicker-pattern="^(0[1-9]|1[0-2])\/(0[1-9]|1\d|2\d|3[01])\/(19|20)\d{2}$"
                           show-button-bar="false" datepickerpopup required />

                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="datePicker.open($event, 'NoteDate' )">
                            <i class="fa fa-calendar"></i>
                        </button>
                    </span>
                </div>
            </div>
            <p ng-show="submitted && frmProgressNote.idCode.$invalid" class="help-block">
                Enter a valid Date

            </p>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Comment</label>
            <div class="col-sm-9">
                <textarea type="text" class="form-control" id="idDescription" placeholder="Comment"
                          rows="5" style="resize:none" ng-model="ProgressNote.Comment"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Contact Type</label>
            <div class="col-sm-4">
                <select class="form-control btn btn-default dropdown-toggle"
                        ng-model="ProgressNote.ContactType" 
                        ng-options="item as item.Name for item in AllContactTypes track by item.ID">
                    <option value="">Contact Type</option>
                </select>
            </div>
            <label class="col-sm-2 control-label">Duration</label>
            <div class="col-sm-3">
                <timepicker ng-change="changed()" ng-model="ProgressNote.Duration" ng-model-options="{timezone:'UTC/GMT'}" id="time" hour-step="1" minute-step="15" show-meridian="false" arrowkeys="true" placeholder="HH:MM" datetimepicker-neutral-timezone></timepicker>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Sub Contact Type</label>
            <div class="col-sm-4">
                <select class="form-control btn btn-default dropdown-toggle"
                        ng-model="ProgressNote.SubContactType"
                        ng-options="item as item.Name for item in AllSubContactTypes track by item.ID">
                    <option value="">Sub Contact Type</option>
                </select>
            </div>
        </div>
    <div class="modal-footer">
        <div class="col-sm-3">
            <span class="alert-warning">* are mandatory</span>
        </div>
        <div class="col-sm-offset-4 col-sm-5">
            <button type="submit" class="btn btn-sm btn-primary" ng-disabled="frmProgressNote.$invalid || !frmProgressNote.$dirty" ng-click="CreateOrUpdate(!frmProgressNote.$invalid, ProgressNote)">{{ SubmitButtonText }}</button>
            <button type="button" class="btn btn-sm btn-primary" ng-click="Reset()">Reset</button>
            <button type="button" class="btn btn-sm btn-primary" ng-click="CloseProgressNote()">Cancel</button>
        </div>
    </div>
</form>