

<form class="form-horizontal" name="frmAddorEditAssessment" novalidate>
    <div class="modal-header">
        <h4><i class="fa fa-check-circle"></i> Assessment</h4>
    </div>
    <div class="container custom-modal-body">
        <div class="form-group">
            <label class="col-sm-2-5 control-label">Assessment Type</label>
            <div class="col-sm-3">
                <select class="form-control btn btn-default dropdown-toggle"
                        ng-model="Assessment.AssessmentType" 
                        ng-options="item as item.Name for item in AllAssessmentTypes|orderBy:'Description' track by item.ID">
                    <option value="">Assessment Type</option>
                </select>
            </div>

            <label class="col-sm-2-5 control-label">Domain</label>
            <div class="col-sm-3">
                <select class="form-control btn btn-default dropdown-toggle"
                        ng-model="Assessment.AssessmentSubtype"
                        ng-options="item as item.Description for item in AllAssessmentSubTypes|orderBy:'Description'  track by item.ID">
                    <option value="">Assessment Sub Type</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2-5 control-label">Date Of Assessment</label>
            <div class="col-sm-3">
                <div class="input-group" ng-class="{ 'has-error': frmAddorEditAssessment.txtDAssessmentDate.$invalid }"> 
                    <input type="text" class="form-control" name="txtDAssessmentDate" placeholder="MM/dd/yyyy" onkeyup="addSlashes(this);"
                           ng-model="Assessment.AssessmentDate"
                           datepicker-popup="MM/dd/yyyy" close-text="Close"
                           is-open="datePicker.instances['AssessmentDate']" datepicker-options="dateOptions"
                           aw-datepicker-pattern="^(0[1-9]|1[0-2])\/(0[1-9]|1\d|2\d|3[01])\/(19|20)\d{2}$"
                           show-button-bar="false" />

                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="datePicker.open($event, 'AssessmentDate')">
                            <i class="fa fa-calendar"></i>
                        </button>
                    </span>
                </div>
            </div>
            <p ng-show="frmAddorEditAssessment.txtDAssessmentDate.$invalid " class="help-block">
                Enter a valid Date

            </p>
            <label class="col-sm-2-5 control-label">Assessment Score</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" name="txtScore" placeholder="Score"
                       ng-model="Assessment.AssessmentScore" maxlength="{{AssessmentScoreLength}}"  />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2-5 control-label">Staff Person</label>
            <div class="col-sm-3">
                <select class="form-control btn btn-default dropdown-toggle"
                        ng-model="Assessment.Staff" 
                        ng-options="item as (item.LastName + ',' + item.FirstName) for item  in AllPersons|orderBy:'LastName'  track by item.ID">
                    <option value="">Staff Person</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2-5 control-label">Notes</label>
            <div class="col-sm-8">
                <textarea class="form-control" style="resize:none" rows="4"
                          ng-model="Assessment.Notes"></textarea>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="col-sm-2">
            <span class="alert-warning">* are mandatory</span>
        </div>
        <div class="col-sm-offset-5 col-sm-5">
            <button type="submit" class="btn btn-sm btn-primary"  ng-disabled="frmAddorEditAssessment.$invalid || !frmAddorEditAssessment.$dirty" ng-click="CreateOrUpdate(!frmAddorEditAssessment.$invalid, Assessment)">{{ SubmitButtonText }}</button>
            <button type="button" class="btn btn-sm btn-primary" ng-disabled="!frmAddorEditAssessment.$dirty" ng-click="Reset()">Reset</button>
            <button type="button" class="btn btn-sm btn-primary" ng-click="CloseAssessment()">Cancel</button>
        </div>
    </div>
</form>