<div class="container" ng-controller="AddressController">
    <h4><i class="fa fa-check-circle"></i> Address</h4>
    <form class="form-horizontal" name="frmAddress" novalidate>
        <div class="form-group">
            
            <label class="col-sm-2 control-label">{{lblAddress}}</label>

            <label class="col-sm-offset-3 col-sm-2 control-label" ng-show="IsVisibleAdult">CSU Address</label>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-4">
                <input type="text" ng-model="SelectedDJSAddress" class="form-control" ng-readonly="csu"
                       placeholder={{placeholdertext}}
                       ng-blur="OnDJSLeaveAddress(2)"
                       typeahead="address.address for address in Addresses($viewValue)"
                       typeahead-on-select='OnDJSSelect($item)'
                       typeahead-loading="isDJSLoading">                
            </div>
            <div class="col-sm-1" ng-show="isDJSLoading">
                <i class="fa fa-refresh fa-spin"></i>
            </div>
            <div class="col-sm-1" ng-hide="isDJSLoading">
                &nbsp;
            </div>
            <div class="col-sm-4" ng-show="IsVisibleAdult">
                <input type="text" ng-model="SelectedCSUAddress" class="form-control" ng-readonly="djs"
                       placeholder="Start typing CSU Address Line"
                       ng-blur="OnCSULeaveAddress(4)"
                       typeahead="address.address for address in Addresses($viewValue)"
                       typeahead-on-select='OnCSUSelect($item)'
                       typeahead-loading="isCSULoading">
               
            </div>

            <div class="col-sm-1" ng-show="isCSULoading">
                <i class="fa fa-refresh fa-spin"></i>
            </div>

            <div class="col-sm-1" ng-hide="isCSULoading">
                &nbsp;
            </div>
        </div>

        <div class="form-group" >
            <div class="col-sm-offset-1-2 col-sm-4" ng-show="CanShowDJSAddressMsg" >
                <i class="fa fa-check"> </i>
                <span class="bg-success">{{ DJSAddressMessage }}</span>
            </div>

            <div class="col-sm-offset-1-2 col-sm-4" ng-hide="CanShowDJSAddressMsg">                
                &nbsp;
            </div>

            <div class="col-sm-offset-1 col-sm-4" ng-show="CanShowCSUAddressMsg">
                <i class="fa fa-check"> </i>
                <span class="bg-success">{{ CSUAddressMessage }}</span>
            </div>

            <div class="col-sm-offset-1 col-sm-4" ng-hide="CanShowCSUAddressMsg">                
                &nbsp;
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-4">
                <input type="text" class="form-control" name="txtDJSAddressLineOne"
                       placeholder="Address Line" readonly
                       ng-model="DJSAddress.AddressLineOne">
            </div>

            <div class="col-sm-offset-1 col-sm-4" ng-show="IsVisibleAdult">
                <input type="text" class="form-control" name="txtCSUAddressLineOne"
                       placeholder="Address Line" readonly
                       ng-model="CSUAddress.AddressLineOne">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-4">
                <input type="text" class="form-control" name="txtDJSAddressLineTwo"
                       placeholder="Address Line" readonly
                       ng-model="DJSAddress.AddressLineTwo">
            </div>

            <div class="col-sm-offset-1 col-sm-4" ng-show="IsVisibleAdult">
                <input type="text" class="form-control" name="txtCSUAddressLineTwo"
                       placeholder="Address Line" readonly
                       ng-model="CSUAddress.AddressLineTwo">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-2">
                <input type="text" class="form-control" name="txtDJSCity"
                       placeholder="City" readonly
                       ng-model="DJSAddress.City">
            </div>

            <div class="col-sm-1">
                <input type="text" class="form-control" name="txtDJSState"
                       placeholder="State" readonly
                       ng-model="DJSAddress.State">
            </div>

            <div class="col-sm-1">
                <input type="text" class="form-control" name="txtDJSZip"
                       placeholder="ZIP" readonly
                       ng-model="DJSAddress.Zip">
            </div>

            <div class="col-sm-offset-1 col-sm-2" ng-show="IsVisibleAdult">
                <input type="text" class="form-control" name="txtCSUCity"
                       placeholder="City" readonly
                       ng-model="CSUAddress.City">
            </div>

            <div class="col-sm-1" ng-show="IsVisibleAdult">
                <input type="text" class="form-control" name="txtCSUState"
                       placeholder="State" readonly
                       ng-model="CSUAddress.State">
            </div>

            <div class="col-sm-1" ng-show="IsVisibleAdult" >
                <input type="text" class="form-control" name="txtCSUZip"
                       placeholder="ZIP" readonly
                       ng-model="CSUAddress.Zip">
            </div>
        </div>

        <div class="form-group">            
            <div class="col-lg-offset-1 col-sm-4">
                <input type="text" class="form-control" name="txtDJSComments" placeholder="Comments" ng-readonly="csu"
                       ng-model="DJSAddress.Comments" maxlength="250" >
            </div>
            <div class="col-sm-offset-1 col-sm-4" ng-show="IsVisibleAdult">
                <input type="text" class="form-control" name="txtCSUComments" placeholder="Comments" ng-readonly="djs"
                       ng-model="CSUAddress.Comments" maxlength="250" >
            </div>
        </div>

        

        <div class="form-group" ng-show="IsAdultVisibleTrue">
            
            <div class="col-lg-offset-1 col-sm-4" >
                <label>Time at current address</label>
                <input type="text" class="form-control" name="txt" placeholder="Time in Current Address" ng-readonly="csu"
                 ng-model="DJSAddress.TimeAtCurrentAddress" maxlength="250">
            </div>
       </div>
        <div class="form-group" ng-show="IsCwbVisibleTrue">
            <label class="col-sm-2 control-label">Homeless </label>
            <div class="col-sm-1-5">
                <input type="radio" name="Homeless" ng-model="DJSAddress.Homeless" ng-value="true" /> Yes
                &nbsp;
                <input type="radio" name="Homeless" ng-model="DJSAddress.Homeless" ng-value="false" /> No
            </div>
           
         </div>
        <div class="form-group" ng-show="IsCwbVisibleTrue">
            <label class="col-sm-2 control-label">Council District</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" name="txt" placeholder="Council District" ng-readonly="true"
                       ng-model="DJSAddress.CouncilDistrict" maxlength="10">
            </div>
            </div>
            <div class="form-group" ng-show="IsCwbVisibleTrue">
                
                    <label class="col-sm-2 control-label">RRHA Property</label>
                <div class="col-sm-3">
                    <select class="form-control btn btn-default dropdown-toggle"
                            ng-model="DJSAddress.PropertyType"
                            ng-options="item as item.Name for item in AllPropertyType track by item.ID">
                        <option value="">Select Property Types</option>
                    </select>
                    <!--<div class="col-sm-3">
        <select name="singleSelect" class="form-control btn btn-default dropdown-toggle" ng-model="DJSAddress.PropertyTypes">
            <option value="null" selected>Select property Type</option>
            <option value="Creighton">Creighton</option>
            <option value="Fairfield">Fairfield</option>
            <option value="Fulton">Fulton</option>
            <option value="Gilpin">Gilpin</option>
            <option value="Mosby">Mosby</option>
            <option value="NA">NA</option>
            <option value="Whitcomb">Whitcomb</option>
            <option value="Other">Other</option>


        </select>-->
                </div>
       </div>
              


            <div class="modal-footer">
                <div class="col-sm-1-5">
                    <span class="alert-warning">* are mandatory</span>
                </div>
                <div class="col-sm-offset-8 col-sm-2-5">
                    <button type="submit" class="btn btn-sm btn-primary" ng-disabled="frmAddress.$invalid || !frmAddress.$dirty" ng-click="CreateOrUpdateAddress(!frmPerson.$invalid, DJSAddress, CSUAddress)">{{ SubmitButtonText }}</button>
                    <button type="button" class="btn btn-sm btn-primary" ng-disabled="!frmAddress.$dirty" ng-click="Reset()">Reset</button>
                </div>
            </div>

</form>
</div>
<!--<div style="visibility:hidden">
    

<iframe src="https://gis.richmondgov.com/ArcGIS/rest/services/Geocode/RichmondAddressRegionalCenterline/GeocodeServer/" height="500" width="500"> </iframe>
</div>-->
