

<div class="custom-modal-body" ng-controller="FamilyAddressController">
    <h4><i class="fa fa-check-circle"></i> Address</h4>
    <form class="form-horizontal" name="frmAddress" id="formnow" novalidate  >

     
        <div class="form-group">
            <label class="col-sm-3 control-label">{{lblAddress}}</label>

            <label class="col-sm-offset-3 col-sm-2 control-label" ng-show="IsVisibleAdult">CSU Address</label>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-4">
                <input type="text" ng-model="SelectedDJSAddress" class="form-control" ng-readonly="csu"
                       placeholder={{placeholdertext}}
                       ng-blur="OnDJSLeaveAddress(2)"
                       typeahead="address.address for address in Addresses($viewValue)"
                       typeahead-on-select='OnDJSSelect($item)'
                       typeahead-loading="isDJSLoading">
            </div>

            <div class="col-sm-1" ng-show="isDJSLoading">
                <i class="fa fa-refresh fa-spin"></i>
            </div>

            <div class="col-sm-1" ng-hide="isDJSLoading">
                &nbsp;
            </div>

            <div class="col-sm-4" ng-show="IsVisibleAdult">
                <input type="text" ng-model="SelectedCSUAddress" class="form-control" ng-readonly="djs"
                       placeholder="Start typing CSU Address Line"
                       ng-blur="OnCSULeaveAddress(4)"
                       typeahead="address.address for address in Addresses($viewValue)"
                       typeahead-on-select='OnCSUSelect($item)'
                       typeahead-loading="isCSULoading">
            </div>

            <div class="col-sm-1" ng-show="isCSULoading">
                <i class="fa fa-refresh fa-spin"></i>
            </div>

            <div class="col-sm-1" ng-hide="isCSULoading">
                &nbsp;
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-1-2 col-sm-4" ng-show="CanShowDJSAddressMsg">
                <i class="fa fa-check"> </i>
                <span class="bg-success">{{ DJSAddressMessage }}</span>
            </div>

            <div class="col-sm-offset-1-2 col-sm-4" ng-hide="CanShowDJSAddressMsg">
                &nbsp;
            </div>

            <div class="col-sm-offset-1 col-sm-4" ng-show="CanShowCSUAddressMsg">
                <i class="fa fa-check"> </i>
                <span class="bg-success">{{ CSUAddressMessage }}</span>
            </div>

            <div class="col-sm-offset-1 col-sm-4" ng-hide="CanShowCSUAddressMsg">
                &nbsp;
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-4">
                <input type="text" class="form-control" name="txtDJSAddressLineOne" 
                       placeholder="Address Line" readonly 
                       ng-model="DJSAddress.AddressLineOne">
            </div>

            <div class="col-sm-offset-1 col-sm-4" ng-show="IsVisibleAdult">
                <input type="text" class="form-control" name="txtCSUAddressLineOne"
                       placeholder="Address Line" readonly
                       ng-model="CSUAddress.AddressLineOne">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-4">
                <input type="text" class="form-control" name="txtDJSAddressLineTwo"
                       placeholder="Address Line" readonly
                       ng-model="DJSAddress.AddressLineTwo">
            </div>

            <div class="col-sm-offset-1 col-sm-4" ng-show="IsVisibleAdult">
                <input type="text" class="form-control" name="txtCSUAddressLineTwo"
                       placeholder="Address Line" readonly
                       ng-model="CSUAddress.AddressLineTwo">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-4">
                <input type="text" class="form-control" name="txtDJSCity"
                       placeholder="City" readonly
                       ng-model="DJSAddress.City">
            </div>



            <div class="col-sm-offset-1 col-sm-4" ng-show="IsVisibleAdult">
                <input type="text" class="form-control" name="txtCSUCity"
                       placeholder="City" readonly
                       ng-model="CSUAddress.City">
            </div>

        </div>
        <div class="form-group">
            

            <div class="col-sm-offset-1 col-sm-2">
                <input type="text" class="form-control" name="txtDJSState"
                       placeholder="State" readonly
                       ng-model="DJSAddress.State">
            </div>

            <div class="col-sm-2">
                <input type="text" class="form-control" name="txtDJSZip"
                       placeholder="ZIP" readonly
                       ng-model="DJSAddress.Zip">
            </div>


            <div class="col-sm-offset-1 col-sm-2" ng-show="IsVisibleAdult">
                <input type="text" class="form-control" name="txtCSUState"
                       placeholder="State" readonly
                       ng-model="CSUAddress.State">
            </div>

            <div class="col-sm-2">
                <input type="text" class="form-control" name="txtCSUZip"
                       placeholder="ZIP" readonly
                       ng-model="CSUAddress.Zip">
            </div>
        </div>
        
        <div class="form-group" >
           
            <div class="col-lg-offset-1 col-sm-4" > 
                <input type="text" class="form-control" name="txtDJSComments" placeholder="Comments" 
                       ng-model="DJSAddress.Comments" maxlength="25">
            </div>
           
            
            <!--<div class="col-lg-offset-1 col-sm-4" ng-show="DJSAddress.Comments == ''">
                <input type="text" class="form-control" name="txtDJSComments" placeholder="Comments" ng-init="djsaddress.comments='test'"
                       ng-model="DJSAddress.Comments" maxlength="25">
            </div>-->
            <div class="col-sm-offset-1 col-sm-4" ng-show="IsVisibleAdult">
                <input type="text" class="form-control" name="txtCSUComments" placeholder="Comments"
                       ng-model="CSUAddress.Comments" maxlength="25">
            </div>
        </div>
        <div class="form-group" ng-show="IsAdultVisibleTrue">

            <div class="col-lg-offset-1 col-sm-4">
                <label>Time at current address</label>
                <input type="text" class="form-control" name="txt" placeholder="Time in Current Address" ng-readonly="csu"
                       ng-model="DJSAddress.TimeAtCurrentAddress" maxlength="250">
            </div>
        </div>

        <div class="modal-footer">
            <div class="col-sm-2-5">
                <span class="alert-warning">* are mandatory</span>
            </div>
            <div class="col-sm-offset-5 col-sm-3-5">
                <button type="button" class="btn btn-sm btn-primary"   ng-click="Client()">Same As Client</button>
                <button type="submit" class="btn btn-sm btn-primary" ng-show="group" ng-disabled="frmAddress.$invalid || !frmAddress.$dirty" ng-click="CreateOrUpdateAddress(!frmPerson.$invalid, DJSAddress, CSUAddress)">{{ SubmitButtonText }}</button>
               <button type="button" class="btn btn-sm btn-primary" ng-disabled="!frmAddress.$dirty" ng-click="Reset()">Reset</button>
                <button type="button" class="btn btn-sm btn-primary"  ng-click="CloseAddress()">Cancel</button>
            </div>
        </div>

    </form>
</div>
