<div class="container">
    <h4><i class="fa fa-check-circle"></i> Assessment</h4>
</div>

<div class="container" ng-controller="AssessmentController">
    <button type="button" class="btn btn-xs btn-primary" ng-click="AddOrEditAssessment()" style="margin-bottom:10px">
        Add Assessment
    </button>
    <div class="row">
        <table st-table="assessment" st-safe-src="Assessments" ng-model="selectedPredicate"
               class="sttable table-striped">
            <thead>
                <tr>
                    <th style="width:11%"></th>
                    <th style="width:40% ;text-align:center">Type</th>
                    <th style="width:75% ;text-align:center">Domain</th>
                    <th style="width:48% ;text-align:center">Date</th>
                    <th>Score</th>  
                    <th></th>               
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in Assessments|orderBy: '-AssessmentDate' ">
                    <td class="col-sm-1" style="width:22%"><i  style="cursor:pointer" class="fa fa-pencil-square-o" ng-click="AddOrEditAssessment(row)"></i>
                       </td>
                    <td class="col-sm-2" style="width:85%">{{row.AssessmentType.Name}}</td>
                    <td class="col-sm-2" style="width:75%">{{row.AssessmentSubtype.Name}}</td>
                    <!--<td class="col-sm-4" ng-if="!row.AssessmentSubType">&nbsp;</td>-->
                    <td class="col-sm-2" style="width:60% ;text-align:center">{{row.AssessmentDate | date: 'MM/dd/yyyy'}}</td>
                    <td class="col-sm-2" style="width:35%">{{row.AssessmentScore}}</td> 
                    <td class="col-sm-1" style="width:18%">
                        <button type="button" class="btn btn-xs btn-primary" style="margin-bottom:5px" ng-show="admin"
                                ng-click="DeleteAssessment(row)">
                            Delete
                        </button>
                    </td>               
                </tr>
            </tbody>
            <tfoot>
                <tr ng-show="CanShowMessage">
                    <td class="col-sm-5">
                        No Assessments Found
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

