<div class="container">
    <h4><i class="fa fa-check-circle"></i> Family Info</h4>
</div>

<div class="container" ng-controller="FamilyInfoController">
    <button type="button" class="btn btn-xs btn-primary" ng-click="AddOrEditFamilyMember()" style="margin-bottom:10px">
        Add Family Member
    </button>


    <div class="row">
        <table st-table="familyinfo" st-safe-src="FamilyProfiles" ng-model="selectedPredicate"
               class="sttable table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th style="text-align:left">LastName</th>
                    <th style="text-align:left">First Name</th>
                    <th style="text-align:left">Middle Name</th>
                    <th style="text-align:left">Suffix</th>
                    <th style="text-align:left">Relationship</th>
                    <th style="text-align:right">Home Phone</th>
                    <th style="text-align:right">Work Phone</th>
                    <th style="width:400px;text-align:right">Emergency Contact?</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in FamilyProfiles">
                    <td class="col-sm-1-2">
                        <i class="fa fa-pencil-square-o" ng-click="AddOrEditFamilyMember(row)"></i>
                        <!--<i class="fa fa-times" ng-click="Deletefamilymember(row)"></i>-->
                        <i class="fa fa-map-marker" ng-click="AddOrEditFamilyMemberAddress(row)"></i>
                    </td>
                    <td style="text-align:left" class="col-sm-1-2">{{row.FamilyProfile.Person.LastName}}</td>
                    <td style="text-align:left" class="col-sm-1-2">{{row.FamilyProfile.Person.FirstName}}</td>
                    <td style="text-align:left" class="col-sm-1-2">{{row.FamilyProfile.Person.MiddleName}}</td>
                    <td style="text-align:left" class="col-sm-1-2">{{row.FamilyProfile.Person.Suffix.Description}}</td>
                    <td style="text-align:left" class="col-sm-1-2">{{row.FamilyProfile.Relationship.Description}}</td>
                    <td class="col-sm-1-2" style="text-align:left">{{row.PersonSupplemental.HomePhone}}</td>
                    <td class="col-sm-1-2" style="text-align:left">{{row.PersonSupplemental.WorkPhone}}</td>
                    <td class="col-sm-1-2" style="text-align:left">{{row.PersonSupplemental.HasEmergencyContactNo ? 'Yes' : 'No' }}</td>
                    <td class="col-sm-1-2" style="text-align:center">
                        <button type="button" class="btn btn-xs btn-primary" style="margin-bottom:5px" ng-show="admin"
                                ng-click="Deletefamilymember(row)">
                            Delete
                        </button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr ng-show="CanShowMessage">
                    <td class="col-sm-5">
                        No Family Info Found
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
