
<form class="form-horizontal" name="frmduplicates" novalidate>
    <div class="modal-header">
        <h4><i class="fa fa-check-circle"></i> Duplicates</h4>
        <button type="button" class="close" ng-click="CloseModal()" data-dismiss="modal">&times;</button>
    </div>

    <div class="container custom-modal-body " ng-controller="ClientSearchController">
        <div class="row">
            <table st-table="DProwCollection" class="table table-striped">
                <thead>
                    <tr>
                        <th class="col-sm-1"></th>
                        <th class="col-sm-1" st-sort="LastName">Last Name</th>
                        <th class="col-sm-1" st-sort="FirstName">First Name</th>
                        <th class="col-sm-1" st-sort="MiddleName">Middle Name</th>
                        <th class="col-sm-1" st-sort="JTS" ng-show="showJTS">JTS #</th>
                        <!--<th class="col-sm-1" st-sort="SSN">SSN</th>-->
                        <th class="col-sm-1" st-sort="DOB">Birth Date</th>
                        <th class="col-sm-1" style="text-align:center" st-sort="Gender">Gender</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in DProwCollection">

                        <td class="col-sm-1">
                            <input type="checkbox" ng-model="row.Checked">

                        </td>


                        <td class="col-sm-1">{{row.LastName}}</td>
                        <td class="col-sm-1">{{row.FirstName}}</td>
                        <td class="col-sm-1">{{row.MiddleName}}</td>
                        <td class="col-sm-1" ng-show="showJTS">{{row.JTS}}</td>
                        <!--<td class="col-sm-1">{{row.SSN}}</td>-->
                        <td class="col-sm-1">{{row.DOB | date: 'MM/dd/yyyy' }}</td>
                        <td class="col-sm-1" style="text-align:center">{{row.Gender.Name}}</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>
                            <div>

                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
    <div class="modal-footer">
        <div class="col-sm-2">

        </div>
        <div class="modal-footer    col-sm-offset-5 col-sm-5">
           

            <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal" ng-click="MergeClientServices()">Merge services</button>

            <button type="button" class="btn btn-sm btn-primary" ng-click="CloseModal()">Close</button>
        </div>
    </div>
</form>


