<script>
    function PrintElem(elem) {
        $("input").each(function() {
            $(this).attr("value", $(this).val());
        });
        Popup($(elem).html());

    }

    function Popup(data) {
        //var mywindow = window.open('', '', 'height=400,width=600');
        var mywindow = window.open('', '','');
        mywindow.document.write('<html><head><title></title>');
        mywindow.document.write('<link rel="stylesheet" type="text/css" media="print" href="styles/bootstrap.min.css"><link rel="stylesheet" type="text/css" href="styles/bootstrap.min.css">');
        mywindow.document.write('<style>input.no-border{border: none;outline: none;}.print-border{border: 1px solid black;padding: 5px;}.print-table{font-size: 14px;}</style>');
        mywindow.document.write('</head><body >');

        mywindow.document.write(data);
        mywindow.document.write('</body></html>');

        mywindow.document.close();
        // necessary for IE >= 10
        mywindow.focus();
        // necessary for IE >= 10

        setTimeout(function () {
            mywindow.print();
            mywindow.close();
        }, 20);

        return true;
    }
</script>
<link rel="stylesheet" type="text/css" media="print" href="styles/bootstrap.min.css">
<form class="form-horizontal" name="frmPlacement" novalidate readonly style="border:1px  solid black">
    <br><br>
    <input type="button" value="Print Referrals" class="btn btn-xs btn-primary pull-right" onclick="PrintElem('#mydiv')" />&nbsp;
    <input type="button" value="Print Progress Notes" class="btn btn-xs btn-primary pull-left" onclick="PrintElem('#PN')" />

    <div class="container custom-modal-body" tabindex='-1' id="mydiv" style="max-height:2000px;width:100%">

        <div class="modal-header">
            <h4 class="modal-title"><i class="fa fa-check-circle"></i> COMMUNITY WEALTH BUILDING CASE MANAGEMENT</h4>
        </div>
        <br>
        <!--<input type="button" value="Print this page" onClick="window.print()" class="pull-right"><br>-->
        <strong class="control-strong pull-left" style="background-color: #d9d9d9">Profile Information</strong><br>
        <hr>
        <div class="print-border">
            <div class="row">
                <div class="col-xs-6">
                    <strong>Participant's Name</strong>
                    &nbsp;&nbsp;&nbsp;<input type="text" class="no-border" ng-model="currentClientName" readonly />
                </div>
                <div class="col-xs-6">
                    <strong>SSN</strong>
                    &nbsp;&nbsp;&nbsp;<input type="text" class="no-border" ng-model="ReqClient.SSN" readonly />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-xs-6">
                    <strong>Gender</strong>
                    &nbsp;&nbsp;&nbsp;<input type="text" class="no-border" ng-model="ReqClient.Gender" readonly />
                </div>
                <div class="col-xs-6">
                    <strong>Race</strong>
                    &nbsp;&nbsp;&nbsp;<input type="text" class="no-border" ng-model="Person.Person.Race.Description"
                                             readonly />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-xs-6">
                    <strong>State/VCIN</strong>
                    &nbsp;&nbsp;&nbsp;<input type="text" class="no-border" ng-model="Person.Person.JTS" readonly />
                </div>
                <div class="col-xs-6">
                    <strong>Current age</strong>
                    &nbsp;&nbsp;&nbsp;<input type="text" class="no-border" ng-model="Person.Person.CurrentAge" readonly />
                </div>
            </div>
        </div>
        <hr>
        <strong class="control-strong pull-left" style="background-color: #d9d9d9"> Family Information</strong><br>
        <hr>
        <div>
            <table class="table-bordered table-condensed print-table" ng-model="selectedPredicate">
                <thead>
                    <tr>

                        <th>Last Name</th>
                        <th>First Name</th>
                        <th>Middle Name</th>
                        <th>Suffix</th>
                        <th>Relationship</th>
                        <th>Home Phone</th>
                        <th>Work Phone</th>

                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in FamilyProfiles">

                        <td class="col-sm-1-5">{{row.FamilyProfile.Person.LastName}}</td>
                        <td class="col-sm-1-5">{{row.FamilyProfile.Person.FirstName}}</td>
                        <td class="col-sm-1-5">{{row.FamilyProfile.Person.MiddleName}}</td>
                        <td class="col-sm-1-5">{{row.FamilyProfile.Person.Suffix.Description}}</td>
                        <td class="col-sm-1-5">{{row.FamilyProfile.Relationship.Description}}</td>
                        <td class="col-sm-1-5">{{row.PersonSupplemental.HomePhone}}</td>
                        <td class="col-sm-1-5">{{row.PersonSupplemental.WorkPhone}}</td>

                    </tr>
                </tbody>

            </table>
        </div>
        <hr>
        <strong class="control-strong pull-left" style="background-color: #d9d9d9"> Program Information</strong><br>
        <hr>
        <div class="print-border">

            <div class="row">

                <div class="col-xs-6">
                    <strong>Enrollment Date</strong>&nbsp;&nbsp;
                    <input type="text" class="no-border" name="txtCourtOrderDate" placeholder="mm/dd/yyyy" ng-model="currentprintplacement.Placement.CourtOrderDate"
                           datepicker-popup="MM/dd/yyyy" is-open="datePicker.instances['CourtOrderDate']" close-text="Close"
                           aw-datepicker-pattern="^(0[1-9]|1[0-2])\/(0[1-9]|1\d|2\d|3[01])\/(19|20)\d{2}$"
                           datepicker-options="dateOptions" show-button-bar="false" readonly />
                </div>

                <div class="col-xs-6">
                    <strong>Participating in SNAP-ET </strong>&nbsp;&nbsp;

                    {{currentprintplacement.Placement.PlacementLevel.Name}}
                </div>

            </div><br>
            <div class="row">
                <div class="col-xs-6">
                    <strong>Next Appt. Date</strong>&nbsp;&nbsp;
                    <input type="text" class="no-border" name="txtNextCourtDate" placeholder="mm/dd/yyyy" ng-model="currentprintplacement.Placement.NextCourtDate"
                           datepicker-popup="MM/dd/yyyy" is-open="datePicker.instances['NextCourtOrderDate']" close-text="Close"
                           aw-datepicker-pattern="^(0[1-9]|1[0-2])\/(0[1-9]|1\d|2\d|3[01])\/(19|20)\d{2}$"
                           datepicker-options="dateOptions" show-button-bar="false" readonly />
                </div>

                <div class="col-xs-6">
                    <strong>Participating in VIEW/TANF</strong>&nbsp;&nbsp;

                    {{ currentprintplacement.Placement.Judge.Name}}
                </div>

            </div>
            <br />
            <div class="row">
                <div class="col-xs-12">
                    <strong>Assistance Type</strong>&nbsp;&nbsp;
                    {{currentprintplacement.Placement.AssistanceType.Name}}
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-xs-12">
                    <strong>Comments</strong>&nbsp;&nbsp;
                    {{currentprintplacement.Placement.CourtOrderNarrative}}
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-xs-6">
                    <strong>Employer Name</strong>&nbsp;&nbsp;
                    <input type="text" id="search" class="no-border" ng-model="currentprintplacement.Placement.EmployerName"
                           readonly />
                </div>
                <div class="col-xs-6">
                    <strong>Position</strong>&nbsp;&nbsp;
                    <input type="text" id="search" class="no-border" ng-model="currentprintplacement.Placement.EmployerPosition"
                           readonly />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-xs-6">
                    <strong>Employment Start Date</strong>&nbsp;&nbsp;
                    <input type="text" class="no-border" name="txtNextCourtDate" placeholder="mm/dd/yyyy" ng-model="currentprintplacement.Placement.EmployerStartDate"
                           datepicker-popup="MM/dd/yyyy" is-open="datePicker.instances['NextCourtOrderDate']" close-text="Close"
                           aw-datepicker-pattern="^(0[1-9]|1[0-2])\/(0[1-9]|1\d|2\d|3[01])\/(19|20)\d{2}$"
                           datepicker-options="dateOptions" show-button-bar="false" readonly />
                </div>
                <div class="col-xs-6">
                    <strong>Wages ($ per hour)</strong>&nbsp;&nbsp;
                    <input type="text" id="search" class="no-border" ng-model="currentprintplacement.Placement.EmployerWages"
                           readonly />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-xs-6">
                    <strong>Benefits</strong>&nbsp;&nbsp;
                    <input type="text" id="search" class="no-border" ng-model="currentprintplacement.Placement.EmployerBenefits" />
                </div>
                <div class="col-xs-6">
                    <strong>Career Pathway Position</strong>&nbsp;&nbsp;
                    {{currentprintplacement.Placement.CareerPathway.Name}}
                    <!--<input type="text" id="search" class="no-border" size="32" ng-model="currentprintplacement.Placement.CareerPathway.Name"
                           readonly />-->
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-xs-6">
                    <strong>Full or Part-Time</strong>&nbsp;&nbsp;
                    {{currentprintplacement.Placement.EmployerFullPartTime}}
                    <!--<input type="text" id="search" class="no-border" ng-model="currentprintplacement.Placement.EmployerFullPartTime.label"
                           readonly />-->
                </div>
            </div>
        </div>
        <hr>

        <strong class="control-strong pull-left" style="background-color: #d9d9d9"> Career Advisor Information</strong><br>
        <hr>

        <div class="print-border">
            <div class="row">
                <div class="col-xs-6">
                    <strong> Full Name </strong>&nbsp;&nbsp;
                    {{refsourcename}}
                    <!--<input type="text" id="search" class="no-border" size="35" ng-model="refsourcename" />-->
                </div>
                <div class="col-xs-6">

                    <strong>Title</strong>&nbsp;&nbsp;

                    <input type="text" id="search" class="no-border" ng-model="CurrentPlacementEnrollment.Source.JobTitle.Name"
                           size="30" readonly />
                </div>


            </div><br>
            <div class="row">

                <div class="col-xs-6">
                    <strong> Phone Number</strong>&nbsp;&nbsp;

                    <input type="text" id="search" class="no-border" ng-model="CurrentPlacementEnrollment.Source.Phone"
                           readonly />
                </div>


                <div class="col-xs-6">
                    <strong>Fax</strong>&nbsp;&nbsp;

                    <input type="text" id="search" class="no-border" ng-model="CurrentPlacementEnrollment.Source.Fax"
                           readonly />
                </div>


            </div><br>
            <div class="row">
                <div class="col-xs-6">
                    <strong> E-Mail</strong>&nbsp;&nbsp;
                    {{CurrentPlacementEnrollment.Source.EMail}}
                    <!--<input type="text" id="search" class="no-border" ng-model="CurrentPlacementEnrollment.Source.EMail"
                           readonly />-->
                </div>

                <div class="col-xs-6">

                    <strong>Department</strong>&nbsp;&nbsp;
                    {{CurrentPlacementEnrollment.Source.Department}}
                    <!--<input type="text" id="search" class="no-border" ng-model="CurrentPlacementEnrollment.Source.Department"
                           readonly />-->
                </div>


            </div>
        </div>
        <hr>
        <div>
            <strong>Referral Date</strong>&nbsp;&nbsp;


            <input type="text" id="search" class="no-border" name="txtServiceStartDate" placeholder="mm/dd/yyyy"
                   ng-model="CurrentPlacementEnrollment.ReferralDate" datepicker-popup="MM/dd/yyyy" is-open="datePicker.instances['ServiceBeginDate']"
                   close-text="Close" aw-datepicker-pattern="^(0[1-9]|1[0-2])\/(0[1-9]|1\d|2\d|3[01])\/(19|20)\d{2}$"
                   datepicker-options="dateOptions" show-button-bar="false" />

        </div>
        <br>
        <div>
            <strong>Refer to this Service *</strong>

            <p> {{rts}}</p>

        </div>
        <div>
            <strong>Notes</strong>


            <p> {{CurrentPlacementEnrollment.SourceNotes}}</p>

        </div>
        <div>
            <strong>Referral Status Note</strong>


            <p> {{CurrentPlacementEnrollment.Comments}}</p>

        </div>
        <hr>
        <!--<strong class="control-strong pull-left" style="background-color: #d9d9d9">Carrer Advisor </strong><br><hr>
        <div class="print-border">
            <div>
                <strong>Full Name</strong>&nbsp;&nbsp;

                <input type="text" id="search"
                       ng-model="CurrentPlacementEnrollment.Counselor.FirstName" />
                <input type="text" id="search"
                       ng-model="CurrentPlacementEnrollment.Counselor.LastName" />

            &nbsp;&nbsp;&nbsp;&nbsp;

                <strong>Title</strong>&nbsp;&nbsp;

                <input type="text" id="search"
                       ng-model="CurrentPlacementEnrollment.Counselor.JobTitle.Name " />

            </div><br>
            <div>
                <strong>Phone Number</strong>&nbsp;&nbsp;

                <input type="text" id="search" ng-model="CurrentPlacementEnrollment.Counselor.Phone " />&nbsp;&nbsp;&nbsp;&nbsp;

                <strong>Department</strong>&nbsp;&nbsp;

                <input type="text" id="search"
                       ng-model="CurrentPlacementEnrollment.Counselor.Department " />

            </div><br>
            <div>
                <strong>E-mail</strong>&nbsp;&nbsp;

                <input type="text" id="search"
                       ng-model="CurrentPlacementEnrollment.Counselor.Email " />&nbsp;&nbsp;&nbsp;&nbsp;

                <strong>Fax</strong>&nbsp;&nbsp;

                <input type="text" id="search"
                       ng-model="CurrentPlacementEnrollment.Counselor.Fax " />

            </div>
        </div><br><hr>-->
        <div>
            <strong>Service Begin Date</strong>&nbsp;&nbsp;


            <input type="text" id="search" class="no-border" name="txtServiceStartDate" placeholder="mm/dd/yyyy"
                   ng-model="CurrentPlacementEnrollment.BeginDate" datepicker-popup="MM/dd/yyyy" is-open="datePicker.instances['ServiceBeginDate']"
                   close-text="Close" aw-datepicker-pattern="^(0[1-9]|1[0-2])\/(0[1-9]|1\d|2\d|3[01])\/(19|20)\d{2}$"
                   datepicker-options="dateOptions" show-button-bar="false" />&nbsp;&nbsp;&nbsp;&nbsp;


            <strong>End Date</strong>&nbsp;&nbsp;


            <input type="text" id="search" class="no-border" name="txtServiceEndDate" placeholder="mm/dd/yyyy" ng-model="CurrentPlacementEnrollment.EndDate"
                   datepicker-popup="MM/dd/yyyy" is-open="datePicker.instances['ServiceEndDate']" close-text="Close"
                   aw-datepicker-pattern="^(0[1-9]|1[0-2])\/(0[1-9]|1\d|2\d|3[01])\/(19|20)\d{2}$" datepicker-options="dateOptions"
                   show-button-bar="false" />


        </div><br>
        <div>
            <strong>Case Status</strong>&nbsp;&nbsp;

            <p> {{CurrentPlacementEnrollment.ServiceRelease.Name}} </p>


            <strong>{{lblReason}}</strong>&nbsp;&nbsp;
            <p>{{CurrentPlacementEnrollment.ServiceOutcome.Name }}</p>

        </div>

        <div>
            <strong>Date Case Assigned</strong>&nbsp;&nbsp;

            <input type="text" id="search" class="no-border" name="txtServiceEndDate" placeholder="mm/dd/yyyy" ng-model="CurrentPlacementEnrollment.DateCaseAssigned"
                   datepicker-popup="MM/dd/yyyy" is-open="datePicker.instances['ServiceEndDate']" close-text="Close"
                   aw-datepicker-pattern="^(0[1-9]|1[0-2])\/(0[1-9]|1\d|2\d|3[01])\/(19|20)\d{2}$" datepicker-options="dateOptions"
                   show-button-bar="false" />


        </div>
        <br>




        <div>
            <hr />
            <strong class="control-strong pull-left" style="background-color: #d9d9d9"> Existing service units</strong><br>
            <hr>
            <div>
                <table class="table-bordered table-condensed print-table" ng-model="selectedPredicate">
                    <thead>
                        <tr>

                            <th class="col-sm-2" style="width:33%">Month</th>
                            <th class="col-sm-2" style="width:30%">Year</th>
                            <th class="col-sm-2">Units</th>

                        </tr>
                    </thead>
                    <tbody ng-hide="isLoading">
                        <tr ng-repeat="row in CurrentServiceUnits">

                            <td class="col-sm-2">{{row.Month}}</td>
                            <td class="col-sm-2">{{row.Year}}</td>
                            <td class="col-sm-2">{{row.Units}}</td>

                        </tr>

                    </tbody>
                </table>
            </div>
            <br />
            <div class="visible-print-block">
                <strong>Printed Name </strong>&nbsp;&nbsp;
                <br />
                <br />
                <br />
                <div style="border:1px solid black;width:500px"></div>
                <br />
                <strong>Signature :</strong>&nbsp;&nbsp;
                <br />
                <br />
                <div style="border:1px solid black;width:500px"></div>
                <br />
                <br />
                <strong>Date :</strong>
                <br />
                <br />
                <div style="border:1px solid black;width:500px"></div>

            </div>
            <br />

        </div>
        <div class="modal-footer">

            <div class="col-sm-offset-6 col-sm-4 hidden-print">
                <button type="button" class="btn btn-sm btn-primary" ng-click="CloseModal()">Cancel</button>
            </div>
        </div>
        <script type="text/ng-template" id="my-custom-template">
            <div class="left-panel">
                <span>({{data.VCCCode}})</span>
            </div>
            <div class="right-panel">
                <span>({{data.GeneralHeading}})</span>
            </div>
        </script>
    </div>
    <div id="PN" class="container custom-modal-body" tabindex='-1' style="max-height:2000px;width:100%">
        <div class="modal-header">
            <h4 class="modal-title"><i class="fa fa-check-circle"></i> COMMUNITY WEALTH BUILDING CASE MANAGEMENT</h4>
        </div>
        <br>
        <strong class="control-strong pull-left" style="background-color: #d9d9d9">Profile Information</strong><br>
        <hr>
        <div class="print-border">
            <div class="row">
                <div class="col-xs-6">
                    <strong>Participant's Name</strong>
                    &nbsp;&nbsp;&nbsp;<input type="text" class="no-border" ng-model="currentClientName" readonly />
                </div>
                <div class="col-xs-6">
                    <strong>SSN</strong>
                    &nbsp;&nbsp;&nbsp;<input type="text" class="no-border" ng-model="ReqClient.SSN" readonly />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-xs-6">
                    <strong>Gender</strong>
                    &nbsp;&nbsp;&nbsp;<input type="text" class="no-border" ng-model="ReqClient.Gender" readonly />
                </div>
                <div class="col-xs-6">
                    <strong>Race</strong>
                    &nbsp;&nbsp;&nbsp;<input type="text" class="no-border" ng-model="Person.Person.Race.Description"
                                             readonly />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-xs-6">
                    <strong>State/VCIN</strong>
                    &nbsp;&nbsp;&nbsp;<input type="text" class="no-border" ng-model="Person.Person.JTS" readonly />
                </div>
                <div class="col-xs-6">
                    <strong>Current age</strong>
                    &nbsp;&nbsp;&nbsp;<input type="text" class="no-border" ng-model="Person.Person.CurrentAge" readonly />
                </div>
            </div>
        </div><br>
        <div class="print-border">
            <div class="row">
                <div class="col-xs-5">
                    <strong>Referral Date</strong>&nbsp;&nbsp;
                    <input type="text" id="search" class="no-border" name="txtServiceStartDate" placeholder="mm/dd/yyyy"
                           ng-model="CurrentPlacementEnrollment.ReferralDate" datepicker-popup="MM/dd/yyyy" is-open="datePicker.instances['ServiceBeginDate']"
                           close-text="Close" aw-datepicker-pattern="^(0[1-9]|1[0-2])\/(0[1-9]|1\d|2\d|3[01])\/(19|20)\d{2}$"
                           datepicker-options="dateOptions" show-button-bar="false" />
                </div>
                <div class="col-xs-7">
                    <strong>Refer to this Service</strong>&nbsp;&nbsp;
                    {{rts}}
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-xs-5">
                    <strong>Case Status</strong>&nbsp;&nbsp;
                    {{CurrentPlacementEnrollment.ServiceRelease.Name}}
                </div>
                <div class="col-xs-7">
                    <strong>{{lblReason}}</strong>&nbsp;&nbsp;
                    {{CurrentPlacementEnrollment.ServiceOutcome.Name }}
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-xs-6">
                    <strong>Service Begin Date</strong>&nbsp;&nbsp;
                    <input type="text" id="search" class="no-border" name="txtServiceStartDate" placeholder="mm/dd/yyyy"
                           ng-model="CurrentPlacementEnrollment.BeginDate" datepicker-popup="MM/dd/yyyy" is-open="datePicker.instances['ServiceBeginDate']"
                           close-text="Close" aw-datepicker-pattern="^(0[1-9]|1[0-2])\/(0[1-9]|1\d|2\d|3[01])\/(19|20)\d{2}$"
                           datepicker-options="dateOptions" show-button-bar="false" />
                </div>
                <div class="col-xs-6">
                    <strong>End Date</strong>&nbsp;&nbsp;
                    <input type="text" id="search" class="no-border" name="txtServiceEndDate" placeholder="mm/dd/yyyy"
                           ng-model="CurrentPlacementEnrollment.EndDate" datepicker-popup="MM/dd/yyyy" is-open="datePicker.instances['ServiceEndDate']"
                           close-text="Close" aw-datepicker-pattern="^(0[1-9]|1[0-2])\/(0[1-9]|1\d|2\d|3[01])\/(19|20)\d{2}$"
                           datepicker-options="dateOptions" show-button-bar="false" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-xs-12">
                    <strong>Referral Status Note</strong>
                    <p>{{CurrentPlacementEnrollment.Comments}} </p>
                </div>
            </div>

        </div>
        <hr>
        <strong>Progress Notes</strong><br>
        <div>
            <table class="table-bordered table-condensed print-table" ng-model="selectedPredicate">
                <thead>
                    <tr>


                        <th style="text-align:left">Date</th>
                        <th style="text-align:left">Comment</th>
                        <th style="text-align:left">Contact Type</th>
                        <th style="text-align:left">Sub Contact Type</th>

                    </tr>
                </thead>
                <tbody ng-hide="isLoading">
                    <tr ng-repeat="row in CurrentProgressNotes| orderBy: '-CommentDate'">
                        <td class="col-sm-2" style="width:15%">{{row.CommentDate | date: 'MM/dd/yyyy'}}</td>
                        <td class="col-sm-2" style="width:35%">{{row.Comment}}</td>
                        <td class="col-sm-2" style="width:25%">{{row.ContactType.Name}}</td>
                        <td class="col-sm-2" style="width:25%">{{row.SubContactType.Name}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</form>