<!--<div class="container no-print">
    <h4><i class="fa fa-check-circle"></i>Referral</h4>
    <a href="javascript:window.print()" class="btn btn-xs btn-primary pull-right large" media="print"> Print Referral Details</a>
</div>-->

<div class="container no-print " ng-controller="ReferralController">
    <div class="container no-print">
        <h4><i class="fa fa-check-circle"></i>{{lblReferral}}</h4>
        <!--<a href="javascript:window.print()" class="btn btn-xs btn-primary pull-right large" media="print"> Print Referral Details</a>-->
    </div>

    <button type="button" class="btn btn-xs btn-primary" style="margin-bottom:10px;margin-top:10px;"
            ng-click="AddOrEditPlacement()">{{lblAddCaseInfo}}</button>
    <accordion>
        <accordion close-others="false">
            <accordion-group ng-repeat="placement in Placements.slice(0)" is-open="isOpen" autoHeight="true" >


                <accordion-heading>
                    <!--<span><i  style="cursor:pointer" class="fa fa-times" ng-click="deleteplacement(placement)"></i></span>-->

                    <span><i style="cursor:pointer" class="fa fa-pencil-square-o" ng-click="EditPlacement(placement, $event)"></i></span>
                   

                    {{ GeneratePlacementTitle(placement) }}
                    <i style="padding-left:5em"></i>
                    <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isOpen, 'glyphicon-chevron-right': !isOpen}"></i>
                    <button type="button" class="btn btn-xs btn-primary" style="margin-bottom:5px" ng-show="admin"
                           ng-click="deleteplacement(placement)"> 
                        Delete
                    </button>
                </accordion-heading>
                <table st-table="service" ng-model="selectedPredicate" class="sttable table-striped" style="height:auto">
                    <thead>
                        <tr>
                            <th>
                                <button type="button" class="btn btn-xs btn-primary" style="margin-bottom:10px"
                                        ng-click="AddOrEditEnrollment(placement, null, $event, 'New')">
                                    {{btnAddEnrollment}}
                                </button>
                            </th>
                        </tr>
                        <tr>
                            <th style="width:4%"></th>
                            <th st-sort="Name" style="width:18%">Service Name</th>
                            <th st-sort="beginDate" style="width:17%">Begin Date</th>
                            <th st-sort="endDate">End Date</th>
                            <th st-sort="casestatus">Case Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in placement.Enrollment">
                            <td class="col-sm-1" style="width:10%">
                                <i style="cursor:pointer" class="fa fa-pencil-square-o" ng-click="AddOrEditEnrollment(row, row, $event, 'Edit')"></i>

                                <span ng-show="ShowforAdult"><i style="cursor:pointer" class="fa fa-print"  ng-click="PrintPlacementAdult(row, row, $event, 'Edit')"></i></span>
                                <span ng-show="ShowforJuvenile"><i style="cursor:pointer" class="fa fa-print" ng-click="PrintPlacement(row, row, $event, 'Edit')"></i></span>
                                <span ng-show="ShowforCwb"><i style="cursor:pointer" class="fa fa-print" ng-click="PrintPlacementCwb(row, row, $event, 'Edit')"></i></span>
                                <span ng-show="ShowforCwb"><i style="cursor:pointer" ng-class="{'employment-empty' : row.EmploymentPlan.length == 0}" class="fa fa-briefcase" ng-click="AddOrEditEmployment(row, row, $event, row.EmploymentPlan.length)"></i></span>
                                
                            </td>
                            <td class="col-sm-2">
                                {{row.Enrollment.ServiceProgramCategory.ServiceProgram.Name}}
                            </td>
                            <td class="col-sm-2">{{row.Enrollment.BeginDate | date: 'MM/dd/yyyy'}}</td>
                            <td class="col-sm-2">{{row.Enrollment.EndDate | date: 'MM/dd/yyyy'}}</td>
                            <td class="col-sm-4" style="width:95%">{{row.Enrollment.ServiceRelease.Name}} </td>
                            <td class="col-sm-1" style="width:14%">
                                <button type="button" class="btn btn-xs btn-primary" style="margin-bottom:5px" ng-show="admin"
                                       ng-click="DeleteEnrollment(row)"> 
                                    Delete
                                </button>
                                <!--<i style="cursor:pointer" class="fa fa-times" ng-click="DeleteEnrollment(row)">Delete</i>-->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </accordion-group>
              </accordion>
        </accordion>
    <div class="col-sm-5" ng-show="CanShowPlacementMessage">
        No Placements Found
    </div>

   
</div>
 
