<div class="container" ng-controller="SupplementalController">
    <h4><i class="fa fa-check-circle"></i> Supplemental</h4>
    <form class="form-horizontal" name="frmSupplemental" novalidate>

        <div class="container custom-modal-body">
            <accordion close-others="false">
                <accordion-group heading="Supplemental Details" is-open="true">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Height</label>
                        <div class="input-group">
                            <div class="col-sm-1">
                                <input type="text" class="form-control" name="txtHeightFt" placeholder=""
                                       ng-model="Supplemental.HeightFt" maxlength="2" numbers-only>
                                <strong>Feet.</strong>
                            </div>


                            <div class="col-sm-1">
                                <input type="text" class="form-control" name="txtHeightIn" placeholder=""
                                       ng-model="Supplemental.HeightIn" maxlength="2" numbers-only>
                                <strong>Inches.</strong>
                            </div>


                            <label class="col-sm-2-5 control-label">Weight </label>
                            <div class="col-sm-1-5">
                                <input type="text" class="form-control" name="txtWeight" placeholder=""
                                       ng-model="Supplemental.Weight" maxlength="3" numbers-only>
                                <strong>lbs.</strong>
                            </div>

                        </div>
                    </div>

                    <div class="form-group" >
                        <label class="col-sm-2 control-label">{{lblHairColor}}</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" name="txtHairColor" placeholder=""
                                   ng-model="Supplemental.HairColor" maxlength="25">
                        </div>

                        <label class="col-sm-offset-1 col-sm-2 control-label" ng-show="IsVisibleCwb">Eye Color</label>
                        <div class="col-sm-2" ng-show="IsVisibleCwb">
                            <input type="text" class="form-control" name="txtEyeColor" placeholder=""
                                   ng-model="Supplemental.EyeColor" maxlength="7">
                        </div>
                        <label class="col-sm-offset-1 col-sm-2 control-label" ng-show="IsVisibleCwbFields">Household Size</label>
                        <div class="col-sm-2" ng-show="IsVisibleCwbFields">
                            <input type="text" class="form-control" name="txtHouseholdSize" placeholder=""
                                   ng-model="Supplemental.HouseholdSize" maxlength="7">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Home Phone</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" name="txtHomePhone"
                                   ng-model="Supplemental.HomePhone" ui-mask="{{PhoneMask}}" placeholder="XXX-XXX-XXXX">
                        </div>

                        <label class="col-sm-offset-1 col-sm-2 control-label" ng-show="IsVisibleCwb">Place Of Birth</label>
                        <div class="col-sm-2" ng-show="IsVisibleCwb">
                            <input type="text" class="form-control" name="txtEyeColor" placeholder=""
                                   ng-model="Supplemental.POB" maxlength="25">
                        </div>
                        <label class="col-sm-offset-1 col-sm-2 control-label" ng-show="IsVisibleCwbFields">Household Income</label>
                        <div class="col-sm-2" ng-show="IsVisibleCwbFields">
                            <input type="text" class="form-control" name="txtHouseholdIncome" placeholder=""
                                   ng-model="Supplemental.HouseholdIncome" maxlength="7">
                        </div>
                    </div>



                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{AssignSupplimentText}}</label>

                        <div class="col-sm-3" ng-show="IsVisible">
                            <select class="form-control btn btn-default dropdown-toggle"
                                    ng-model="Supplemental.School"
                                    ng-options="item as item.Name for item in AllSchools track by item.ID">
                                <option value="">Select School</option>
                            </select>
                        </div>
                        <div class="col-sm-3" ng-show="IsVisibleAdult">
                            <input type="text" class="form-control" name="txtLanguage" placeholder=""
                                   ng-model="Supplemental.Language" maxlength="100">

                        </div>

                        <label class="col-sm-2 control-label">{{lblPhysicalHealth}}</label>
                        <div class="col-sm-3" ng-show="IsVisibleJuvenile">
                            <input type="text" class="form-control" name="txtPhysicalHealth" placeholder=""
                                   ng-model="Supplemental.PhysicalHealth" maxlength="100">
                        </div>
                    </div>

                    <div class="form-group">
                        
                        <label class="col-sm-2 control-label" ng-show="IsVisibleJuvenileCWB">{{lblCurrentGrade}}</label>
                        <div class="col-sm-2" ng-show="IsVisibleJuvenileCWB">
                            <select class="form-control btn btn-default dropdown-toggle"
                                    ng-model="Supplemental.EducationLevel"
                                    ng-options="item as item.Name for item in AllEducationLevels track by item.ID">
                                <option value="">Select Grade</option>
                            </select>
                        </div>

                        <label class="col-sm-2 control-label" ng-show="IsVisible">Year</label>
                        <div class="col-sm-1-2" ng-show="IsVisible">
                            <input type="text" class="form-control" name="txtSchoolYr" placeholder=""
                                   ng-model="Supplemental.SchoolYr" maxlength="4">
                        </div>
                    </div>



                    <div class="form-group" ng-show="IsVisibleJuvenile">
                        <label class="col-sm-2 control-label">Mental Health</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" name="txtMentalHealth" placeholder="" ng-model="Supplemental.MentalHealth" maxlength="100">
                        </div>
                    </div>

                    <!--<div class="form-group">
                        <div ng-show="IsVisible">
                            <label class="col-sm-2 control-label">Exceptional Education</label>
                            <div class="col-sm-1-5">
                                <input type="radio" name="HasExceptionEduc" ng-model="Supplemental.HasExceptionEduc" ng-value="true" /> Yes
                                &nbsp;
                                <input type="radio" name="HasExceptionEduc" ng-model="Supplemental.HasExceptionEduc" ng-value="false" /> No
                            </div>
                        </div>
                        <div ng-show="IsVisibleAdult">
                            <label class="col-sm-2 control-label">Is Interpreter Needed</label>
                            <div class="col-sm-1-5">
                                <input type="radio" name="HasInterpreter" ng-model="Supplemental.HasInterpreter" ng-value="true" /> Yes
                                &nbsp;
                                <input type="radio" name="HasInterpreter" ng-model="Supplemental.HasInterpreter" ng-value="false" /> No
                            </div>
                        </div>
                    </div>-->

                    <div class="form-group">
                        <div ng-show="IsVisibleJuvenileCWB">
                            <label class="col-sm-2 control-label">{{lblExceptionalEducation}}</label>
                            <div class="col-sm-1-5">
                                <input type="radio" name="HasExceptionEduc" ng-model="Supplemental.HasExceptionEduc" ng-value="true" /> Yes
                                &nbsp;
                                <input type="radio" name="HasExceptionEduc" ng-model="Supplemental.HasExceptionEduc" ng-value="false" /> No
                            </div>
                        </div>
                        <div ng-show="IsVisibleAdult">
                            <label class="col-sm-2 control-label">Is Interpreter Needed</label>
                            <div class="col-sm-1-5">
                                <input type="radio" name="HasInterpreter" ng-model="Supplemental.HasInterpreter" ng-value="true" /> Yes
                                &nbsp;
                                <input type="radio" name="HasInterpreter" ng-model="Supplemental.HasInterpreter" ng-value="false" /> No
                            </div>
                        </div>

                        <label class="col-sm-2 control-label">Medicaid*</label>
                        <div class="col-sm-1-5">
                            <input type="radio" name="HasMedicaid" ng-model="Supplemental.HasMedicaid" ng-value="true" ng-required="!Supplemental.HasMedicaid" /> Yes
                            &nbsp;
                            <input type="radio" name="HasMedicaid" ng-model="Supplemental.HasMedicaid" ng-value="false" ng-required="!Supplemental.HasMedicaid" /> No
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Insurance</label>
                        <div class="col-sm-1-5">
                            <input type="radio" name="HasInsurance" ng-model="Supplemental.HasInsurance" ng-value="true" /> Yes
                            &nbsp;
                            <input type="radio" name="HasInsurance" ng-model="Supplemental.HasInsurance" ng-value="false" /> No
                        </div>

                        <label class="col-sm-2 control-label">Driver's License</label>
                        <div class="col-sm-1-5">
                            <input type="radio" name="RelationshipActive" ng-model="Supplemental.HasDriversLicense" ng-value="true" /> Yes
                            &nbsp;
                            <input type="radio" name="RelationshipActive" ng-model="Supplemental.HasDriversLicense" ng-value="false" /> No
                        </div>
                    </div>
                    <div class="form-group" ng-show="IsVisibleCwbFields">

                        <label class="col-sm-2 control-label">Convicted Offense</label>
                        <div class="col-sm-1-5">
                            <input type="radio" name="HasConvictedOffence" ng-model="Supplemental.HasConvictedOffence" ng-value="true" /> Yes
                            &nbsp;
                            <input type="radio" name="HasConvictedOffence" ng-model="Supplemental.HasConvictedOffence" ng-value="false" /> No
                        </div>
                        <label class="col-sm-2 control-label">Convicted Misdemeanor</label>
                        <div class="col-sm-1-5">
                            <input type="radio" name="HasConvictedMisdemeanor" ng-model="Supplemental.HasConvictedMisdemeanor" ng-value="true" /> Yes
                            &nbsp;
                            <input type="radio" name="HasConvictedMisdemeanor" ng-model="Supplemental.HasConvictedMisdemeanor" ng-value="false" /> No
                        </div>

                        
                    </div>
                    <div class="form-group" ng-show="IsVisibleCwbFields">
                        <label class="col-sm-2 control-label">Convicted Felony</label>
                        <div class="col-sm-1-5">
                            <input type="radio" name="HasConvictedFelony" ng-model="Supplemental.HasConvictedFelony" ng-value="true" /> Yes
                            &nbsp;
                            <input type="radio" name="HasConvictedFelony" ng-model="Supplemental.HasConvictedFelony" ng-value="false" /> No
                        </div>
                        <label class="col-sm-2 control-label">Working Vehicle</label>
                        <div class="col-sm-1-5">
                            <input type="radio" name="HasVehicle" ng-model="Supplemental.HasVehicle" ng-value="true" /> Yes
                            &nbsp;
                            <input type="radio" name="HasVehicle" ng-model="Supplemental.HasVehicle" ng-value="false" /> No
                        </div>
                        <label class="col-sm-2 control-label">Convicted Felony Crime(Integrity)</label>
                        <div class="col-sm-1-5">
                            <input type="radio" name="HasConvictedCrimeIntegrity" ng-model="Supplemental.HasConvictedCrimeIntegrity" ng-value="true" /> Yes
                            &nbsp;
                            <input type="radio" name="HasConvictedCrimeIntegrity" ng-model="Supplemental.HasConvictedCrimeIntegrity" ng-value="false" /> No
                        </div>
                        
                    </div>
                    <!--<div class="form-group" ng-show="IsVisibleCwbFields">
                       
                      </div>-->
                        <div class="form-group" ng-show="IsVisibleCwbFields">
                            <label class="col-sm-2-2 control-label">Potential Funding Source</label>
                            <div class="col-sm-3">
                                <select class="form-control btn btn-default dropdown-toggle"
                                        ng-model="Supplemental.FundingSource"
                                        ng-options="item as item.Name for item in AllFundingSource track by item.ID">
                                    <option value="">Select Funding Source</option>
                                </select>
                             </div>
                            <label class="col-sm-2-2 control-label">Career Station</label>
                            <div class="col-sm-3">
                              
                                    <!--<select class="form-control btn btn-default dropdown-toggle"
                                            ng-model="Supplemental.CarrerStation"
                                            ng-options="item as item.Name for item in AllCareerStation track by item.ID">
                                        <option value="">Select Career Station</option>
                                    </select>
                                </div>-->
                                <select name="singleSelect" class="form-control btn btn-default dropdown-toggle" ng-model="Supplemental.CareerSt">
                                    <option value="null" selected>Select Career Station</option>
                                    <option value="Marshall">Marshall</option>
                                    <option value="East End">East End</option>
                                    <option value="South Side">South Side</option>
                                    <option value="Other">Other</option>
                                </select>
                            </div>
                            </div>
   
                        <div class="form-group" ng-show="IsVisibleCwb">
                            <label class="col-sm-2 control-label">Other Agency</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="txtMentalHealth" placeholder=""
                                       ng-model="Supplemental.OtherAgencyContacts">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Notes</label>
                            <div class="col-sm-5">
                                <textarea class="form-control" style="resize:none" rows="4"
                                          ng-model="Supplemental.Comments"></textarea>
                            </div>
                        </div>
</accordion-group>
                <accordion-group heading="Identity and Employment Details" is-open="false" >
                    <div class="form-group">
                        <label class="col-sm-2-2 control-label">ID Type</label>
                        <div class="col-sm-2">
                            <select  name="singleSelect" class="form-control btn btn-default dropdown-toggle" ng-model="Supplemental.IDType">
                                <option value="null" selected >Select ID Type</option>
                                <option value="Birth Certificate">Birth Certificate</option>
                                <option value="Driver's License">Driver's License</option>
                                <option value="Green Card">Green Card</option>
                                <option value="Military">Military</option>
                                <option value="Other">Other</option>
                                <option value="Passport">Passport</option>
                            </select>
                        </div>
                        <div>
                            <label class="col-sm-2-2 control-label">ID Number</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" name="txtidNumber" placeholder=""
                                       ng-model="Supplemental.IDNumber" maxlength="25">
                            </div>
                        </div>
                        
                        

                    </div>
                    <div class="form-group">
                       <div>
                            <label class="col-sm-2-2 control-label">ID Issue Date</label>
                            <div class="col-sm-2">
                                <div class="input-group" ng-class="{ 'has-error': frmSupplemental.txtIssuetDate.$invalid }">
                                    <input type="text" class="form-control" name="txtIssuetDate" placeholder="MM/dd/yyyy" onkeyup="addSlashes(this);"
                                           ng-model="Supplemental.IssueDate" datepicker-popup="MM/dd/yyyy"
                                           is-open="datePicker.instances['IDIssueDate']" close-text="Close"
                                           aw-datepicker-pattern="^(0[1-9]|1[0-2])\/(0[1-9]|1\d|2\d|3[01])\/(19|20)\d{2}$"
                                           datepicker-options="dateOptions" show-button-bar="false" />

                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="datePicker.open($event, 'IDIssueDate')">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                                </div>

                            </div>
                        </div>
                        <div>
                            <label class="col-sm-2-2 control-label">ID Expiration Date</label>
                            <div class="col-sm-2">
                                <div class="input-group" ng-class="{ 'has-error': frmSupplemental.txtExpirationDate.$invalid }">
                                    <input type="text" class="form-control" name="txtExpirationDate" placeholder="MM/dd/yyyy" onkeyup="addSlashes(this);"
                                           ng-model="Supplemental.ExpirationDate" datepicker-popup="MM/dd/yyyy"
                                           is-open="datePicker.instances['IDExpirationDate']" close-text="Close"
                                           aw-datepicker-pattern="^(0[1-9]|1[0-2])\/(0[1-9]|1\d|2\d|3[01])\/(19|20)\d{2}$"
                                           datepicker-options="dateOptions" show-button-bar="false" />

                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="datePicker.open($event, 'IDExpirationDate')">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                                </div>

                            </div>
                        </div>
                        <p ng-show="frmSupplemental.txtIssuetDate.$invalid" class="help-block">
                            Enter a  valid Issue Date
                        </p>
                        <p ng-show="frmSupplemental.txtExpirationDate.$invalid" class="help-block">
                            Enter a valid Expiration Date
                        </p>
                        <label class="help-block">{{lblMsg}}</label>
                        </div>

                    <div class="form-group">
                        <label class="col-sm-2-2 control-label">Job Status</label>
                        <div class="col-sm-2">
                            <select class="form-control btn btn-default dropdown-toggle"
                                    ng-model="Supplemental.JobStatus"
                                    ng-options="item as item.Name for item in AllJobStatuses track by item.ID">
                                <option value="">Job Status</option>
                            </select>
                        </div>

                        <label class="col-sm-2-2 control-label">Marital Status</label>
                        <div class="col-sm-2">
                            <select class="form-control btn btn-default dropdown-toggle"
                                    ng-options="item as item.Name for item in AllMaritalStatus track by item.ID"
                                    ng-model="Supplemental.MaritalStatus">
                                <option value="">Marital Status</option>
                            </select>
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="col-sm-2-2 control-label">Scars/Marks/Tattoos</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" name="txtScarMarks" placeholder=""
                                       ng-model="Supplemental.ScarMarks" maxlength="25">
                            </div>
                       

                        <label class="col-sm-2-2 control-label">Is Disabled</label>
                        <div class="col-sm-2">
                            <input type="radio" name="IsDisible" ng-model="Supplemental.IsDisable" ng-value="true" /> Yes &nbsp;
                            <input type="radio" name="IsDisible" ng-model="Supplemental.IsDisable" ng-value="false" /> No
                            
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2-2 control-label">Living Situation</label>
                        <div class="col-sm-2">
                            <select name="singleSelect" class="form-control btn btn-default dropdown-toggle" ng-model="Supplemental.LivingSituation">
                                <option value="null" selected>Select Living Type</option>
                                <option value="Foster care">Foster care</option>
                                <option value="Hospital Treatment Center">Hospital Treatment Center</option>
                                <option value="Hotel/Motel">Hotel/Motel</option>
                                <option value="Living with parent or legal guardian (youth)">Living with parent or legal guardian (youth)</option>)
                                <option value="Other">Other</option>
                                <option value="Parole Housing">Parole Housing</option>
                                <option value="Prison/Jail">Prison/Jail</option>
                                <option value="Renting">Renting</option>
                                <option value="Shelter">Shelter</option>
                                <option value="Staying with friend or relative">Staying with friend or relative</option>
                                <option value="Youth group home">Youth group home</option>
                                
                            </select>
                        </div>

                        <label class="col-sm-2-2 control-label">Highest Educational Level</label>
                        <div class="col-sm-2">
                            <select name="singleSelect1" class="form-control btn btn-default dropdown-toggle" ng-model="Supplemental.HighestEducation">
                                <option value="null" selected>Select Education Level</option>
                                <option value="Associate's Degree">Associate's Degree</option>
                                <option value="Current student">Current student</option>
                                <option value="Doctorate">Doctorate</option>
                                <option value="GED">GED</option>
                                <option value="High School Graduate">High School Graduate</option>
                                <option value="No high school diploma or GED and not a current student">No high school diploma or GED and not a current student</option>
                                <option value="Some college but no degree">Some college but no degree</option>
                                <option value="Undergraduate Degree">Undergraduate Degree</option>
                             </select>
                        </div>
                 
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2-2 control-label">Student Status</label>
                        <div class="col-sm-2">
                            <select name="singleSelect" class="form-control btn btn-default dropdown-toggle" ng-model="Supplemental.StudentStatus">
                                <option value="null" selected>Select Student Status</option>
                                <option value="Enrolled but not attending">Enrolled but not attending</option>
                                <option value="Expelled">Expelled</option>
                                <option value="Full-time student">Full-time student</option>
                                <option value="Part-time student">Part-time student</option>
                                <option value="Suspended Long-Term">Suspended Long-Term</option>
                                <option value="Suspended Short-Term">Suspended Short-Term</option>
                              </select>
                        </div>
                      </div>
                    <hr width="75%">
                    <div class="form-group">
                        <label class="col-sm-2-2 control-label">Employer</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" name="txtEmployer" placeholder="" ng-model="Supplemental.Employer">
                        </div>
                        <label class="col-sm-2-2 control-label">Supervisor</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" name="txtSupervisor" placeholder="" ng-model="Supplemental.Supervisor">
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="col-sm-2-2 control-label">Job Title</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" name="txtJobTitle" placeholder="" ng-model="Supplemental.JobTitle">
                        </div>
                        <label class="col-sm-2-2 control-label">Average Hours Per Week</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" name="txtHoursPerWeek" placeholder="" 
                                   ng-model="Supplemental.HoursPerWeek" numbers-only="numbersOnly">
                        </div>

                    </div>
                    <div class="form-group" ng-show="IsVisibleCwbFields">
                        <label class="col-sm-2-2 control-label">Wage ($ per hour)</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" name="txtJobTitle" placeholder="" ng-model="Supplemental.Income">
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="col-sm-2-2 control-label">Employer Address</label>
                        <div class="col-sm-2">&nbsp;</div>
                   </div>
                    <div class="form-group">
                        <label class="col-sm-2-2 control-label">Address </label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" name="txtEmployeeAddress" placeholder=""
                                   ng-model="Supplemental.EmployerAddress">
                        </div>
                     </div>
                    <div class="form-group">
                        <label class="col-sm-2-2 control-label">State</label>
                        <div class="col-sm-2">
                            <select name="singleSelect" class="form-control btn btn-default dropdown-toggle" ng-model="Supplemental.EmployerAddressState">
                                <option value="null" selected>Select State</option>
                                <option value="AL">AL</option>
                                <option value="AK">AK</option>
                                <option value="AR">AR</option>
                                <option value="AZ">AZ</option>
                                <option value="CA">CA</option>
                                <option value="CO">CO</option>
                                <option value="CT">CT</option>
                                <option value="DC">DC</option>
                                <option value="DE">DE</option>
                                <option value="FL">FL</option>
                                <option value="GA">GA</option>
                                <option value="HI">HI</option>
                                <option value="IA">IA</option>
                                <option value="ID">ID</option>
                                <option value="IL">IL</option>
                                <option value="IN">IN</option>
                                <option value="KS">KS</option>
                                <option value="KY">KY</option>
                                <option value="LA">LA</option>
                                <option value="MA">MA</option>
                                <option value="MD">MD</option>
                                <option value="ME">ME</option>
                                <option value="MI">MI</option>
                                <option value="MN">MN</option>
                                <option value="MO">MO</option>
                                <option value="MS">MS</option>
                                <option value="MT">MT</option>
                                <option value="NC">NC</option>
                                <option value="NE">NE</option>
                                <option value="NH">NH</option>
                                <option value="NJ">NJ</option>
                                <option value="NM">NM</option>
                                <option value="NV">NV</option>
                                <option value="NY">NY</option>
                                <option value="ND">ND</option>
                                <option value="OH">OH</option>
                                <option value="OK">OK</option>
                                <option value="OR">OR</option>
                                <option value="PA">PA</option>
                                <option value="RI">RI</option>
                                <option value="SC">SC</option>
                                <option value="SD">SD</option>
                                <option value="TN">TN</option>
                                <option value="TX">TX</option>
                                <option value="UT">UT</option>
                                <option value="VT">VT</option>
                                <option value="VA">VA</option>
                                <option value="WA">WA</option>
                                <option value="WI">WI</option>
                                <option value="WV">WV</option>
                                <option value="WY">WY</option>
                            </select>
                        </div>
                        <label class="col-sm-1 control-label">City</label>&nbsp;
                        <div class="col-sm-1-2">
                            <input type="text" class="form-control" name="txtEmployeeAddressCity" placeholder=""
                                   ng-model="Supplemental.EmployerAddressCity">
                        </div>
                        <label class="col-sm-2-1 control-label">Zip Code</label>
                        <div class="col-sm-1">
                            <input type="text" class="form-control" name="txtEmployeeAddressZip" placeholder=""
                                   ng-model="Supplemental.EmployerAddressZip">
                        </div>
                    </div>
</accordion-group>
            </accordion>

            <div class="modal-footer">
                <div class="col-sm-1-5">
                    <span class="alert-warning">* are mandatory</span>
                </div>
                <div class="col-sm-offset-8 col-sm-2-5">
                    <button type="submit" class="btn btn-sm btn-primary" ng-disabled="frmSupplemental.$invalid || !frmSupplemental.$dirty" ng-click="CreateOrUpdateSupplemental(!frmSupplemental.$invalid, Supplemental)">{{ SubmitButtonText }}</button>
                    <button type="button" class="btn btn-sm btn-primary" ng-disabled="!frmSupplemental.$dirty" ng-click="Reset()">Reset</button>
                </div>
            </div>

        </div>
    </form>
</div>


