<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>DJS Case Management</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="DJS Case Management" />
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="images/favicon.ico" type="image/x-icon" />

    <!-- When going to production, caching should be enabled for better performance.
         During development, caching is disabled to allow new content to be seen without clearing the cache. -->
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />

    <!-- Website Style Includes -->
    <link href="styles/bootstrap.min.css" rel="stylesheet" />
    <link href="styles/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="styles/font-awesome.min.css" rel="stylesheet" />
    <link href="styles/main.css" rel="stylesheet" />
    <link href="styles/SmartTableStyles.css" rel="stylesheet" />
    <link href="styles/ngTags/ng-tags-input.min.css" rel="stylesheet" />
    <link href='//fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css' />
    <link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.20/themes/base/jquery.ui.core.css" type="text/css" rel="stylesheet"/>
    <title>Use Bing Maps REST Services with jQuery to build an autocomplete box and find a location dynamically</title>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.5.1.js" type="text/javascript"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.10/jquery-ui.js" type="text/javascript"></script>
    <link href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.10/themes/redmond/jquery-ui.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        #searchBox {
            width: 25em;
        }
    </style>
</head>
<body>
    <script>
        app.controller('InternalController', ['$scope', 'CRUDService', 'BaseService', 'GISServiceDB', '$timeout', '$filter', '$http', '$q', function ($scope, CRUDService, BaseService, GISServiceDB, $timeout, $filter, $http, $q) {

            $scope.AllInternalAddresses = [];
            $scope.isLoading = false;
            $scope.message = 'Loading Data Please Wait...';
            $scope.showMessage = true;
            var FilterOnAddressType = function (item) {
                // use below filter to work with all giscode internal addresses
                if (item.AddressTypeID == 1 && item.GISCode.indexOf("-") == -1)
                    return item;
            };

            // Get all Person Address for External address type
            var GetInternalAddresses = function () {
                CRUDService('PersonAddress').GetAll(function (response) {
                    if (response.length > 0) {
                        //To avoid rows that do not have GISCode
                        response = response.filter(function (element) { return element.GISCode != null; })
                        //Filter for internal addresses
                        var externalAddresses = response.filter(FilterOnAddressType);

                        response.filter(FilterOnAddressType);
                        //take top 100 records  to avoid loading time
                        response = response.slice(1, 100);
                        $scope.AllInternalAddresses = response;
                        $scope.showMessage = false;
                    }
                });
            };

            $scope.FillAddressPoints = function () {

                var totalExternalAddresses = $scope.AllInternalAddresses.length;
                var totalMatchedAddresses = 0;
                $scope.message = 'Updating Points Please Wait...';
                $scope.showMessage = true;
                for (var i = 0; i < totalExternalAddresses; i++) {
                    (function (index) {
                        // use the index variable - it is assigned to the value of 'i'
                        // that was passed in during the loop iteration.
                        var GISCode = $scope.AllInternalAddresses[index].GISCode;

                        if ($scope.AllInternalAddresses[index].AddressLineOne == null) {
                            GISServiceDB(GISCode).GetAddressDetails(function (response) {
                                if (response) {
                                    if (response.IsSubaddress == false)
                                        $scope.AllInternalAddresses[index].AddressLineOne = response.AddressLabel;
                                    else {
                                        $scope.AllInternalAddresses[index].AddressLineOne = response.ParcelAddress.AddressLabel;
                                        $scope.AllInternalAddresses[index].AddressLineTwo = response.UnitType + " " + response.UnitValue;
                                    }
                                    $scope.showMessage = false;
                                    //alert($scope.AllInternalAddresses[index].AddressLineOne);
                                }
                                else {
                                    $scope.AllInternalAddresses[index].AddressLineOne = "NA";
                                }
                            });

                        }
                    })(i);
                }
            };

            $scope.Update = function (personAddress) {
                $scope.message = 'Updating Data Please Wait...';
                $scope.showMessage = true;
                for (var i = 0; i < $scope.AllInternalAddresses.length; i++) {
                    CRUDService('PersonAddress').Update({ ID: $scope.AllInternalAddresses[i].ID }, $scope.AllInternalAddresses[i]);
                    BaseService.openSmallDialog('PersonAddress', 'Updated');
                    $scope.showMessage = false;

                }

            };

            GetInternalAddresses();
        }]);

    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="scripts/angular-file-upload-shim.min.js"></script>
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/angular-file-upload.min.js"></script>
    <script src="scripts/jquery-1.10.2.min.js"></script>
    <script src="scripts/bootstrap.min.js"></script>
    <script src="scripts/angular-route.min.js"></script>
    <script src="scripts/angular-resource.min.js"></script>
    <script src="scripts/angular-ui/ui-bootstrap.min.js"></script>
    <script src="scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script src="scripts/angular-ui/ui-utils.min.js"></script>
    <script src="scripts/lrDragNDrop.js"></script>
    <script src="scripts/smart-table.debug.js"></script>
    <script src="scripts/ngTags/ng-tags-input.min.js"></script>
    <script src="scripts/moment.js"></script>
    <!--<script src="https://ajax.microsoft.com/ajax/jquery/jquery-1.3.2.min.js” type=”text/javascript"></script>-->
    <!-- Website Javascripts Includes -->
    <script src="appScripts/app.js"></script>
    <script src="appScripts/controllers/mainController.js"></script>
    <script src="appScripts/controllers/adminController.js"></script>
    <script src="appScripts/controllers/ClientInfoController.js"></script>
    <script src="appScripts/controllers/caseManagementController.js"></script>
    <script src="appScripts/controllers/FamilyAddressController.js"></script>
    <script src="appScripts/routes/mainRouter.js"></script>
    <script src="appScripts/services/dataService.js"></script>
    <script src="appScripts/factories/mainFactory.js"></script>
    <script src="appScripts/filters/mainFilter.js"></script>
    <script src="appScripts/directives/mainDirective.js"></script>

    <br />
    <button type="button" class="btn btn-xs btn-primary" style="margin-bottom:10px;margin-top:10px;"
            ng-click="FillAddressPoints()">
        Update Points
    </button>
    <button type="button" class="btn btn-xs btn-primary" style="margin-bottom:10px;margin-top:10px;"
            ng-click="Update()">
        Update All
    </button>
    <div class="container">
        <div ng-show="showMessage">
            <label class="text-center"><i class="fa fa-refresh fa-spin"></i>{{message}}</label>
        </div>
        <table st-table="displayed" st-safe-src="rowCollection" class="sttable table-striped search-table">
            <thead>
                <tr>
                    <th st-sort="PersonID">Person ID</th>
                    <th st-sort="City">GIS Code</th>
                    <th st-sort="AddressLineOne">Address One</th>
                    <th st-sort="AddressLineTwo">Address Two</th>
                    <th st-sort="City">City</th>
                    <th st-sort="State">State</th>
                    <th st-sort="Zip">Zip</th>
                </tr>
            </thead>
            <tbody ng-hide="isLoading">
                <tr ng-repeat="row in AllInternalAddresses">
                    <td width="20%" class="col-sm-1">{{row.PersonID}}</td>
                    <td class="col-sm-1">{{row.GISCode}}</td>
                    <td class="col-sm-3">{{row.AddressLineOne}}</td>
                    <td class="col-sm-2">{{row.AddressLineTwo}}</td>
                    <td class="col-sm-2">{{row.City}}</td>
                    <td class="col-sm-1">{{row.State}}</td>
                    <td class="col-sm-1">{{row.Zip}}</td>
                </tr>
            </tbody>
            <tbody ng-show="isLoading">
                <tr>
                    <td class="text-center">
                        <div class="loading-indicator">
                            <i class="fa fa-refresh fa-spin"></i>  Loading . . .
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>