<div class="container" ng-controller="ClientSearchController">
    <div class="container">
        <h4><i class="fa fa-search"></i> Delete Pending Client Profiles </h4><br />
        <p>List for inactive  existing Client Profile</p>
        <form class="form-inline" role="form" name="frmClientSearch">
           
            <div style="visibility:hidden">
                <button type="button" class="btn btn-sm btn-primary" ng-init="SearchToDeleteByAdmin()">Pending Delete Profile(s)</button>
            </div>


            <label ng-show="CanShowNew" style="float:right"> Found {{ rowCount }} matching Profiles</label>
            <!--<div ng-repeat="f in faq">
                {{f.ID}}-{{f.UserName}}  
            </div>-->
        </form>
    </div>

    <br />
    

    <div class="container" ng-show="hasData">
        <table st-table="displayed" st-safe-src="rowCollection" class="sttable table-striped search-table">
            <thead ng-show="CanShowTitle">
                <tr >
                    <th></th>
                    <th st-sort="LastName">Last Name</th>
                    <th st-sort="FirstName">First Name</th>
                    <th st-sort="MiddleName">MiddleName</th>
                    <th st-sort="JTS">JTS #</th>
                    <th st-sort="SSN">SSN</th>
                    <th st-sort="DOB">Birth Date</th>
                    <th style="text-align:center" st-sort="Gender">Gender</th>
                    <th></th>
                </tr>
            </thead>
            <tbody ng-hide="isLoading" style="overflow:visible">
                <tr >
                    <td colspan="7" ng-show="super" class="col-sm-6"><input style="cursor:pointer" type="checkbox" ng-model="selectedAll" ng-click="checkAll()" /> &nbsp; Select All</td>  &nbsp;&nbsp;
                    <td colspan="7" align="center" class="col-sm-6"> 
                    <button  style="cursor:pointer;" class="fa fa-times" ng-show="super" ng-click="DeleteallByAdmin(row)"> Delete The Selected</button></td>
                </tr>
                <tr>
                    <td>&nbsp;<td/>
                    </tr>

                <tr ng-repeat="row in displayed">


                    <td class="col-sm-1-5">

                        <input type="checkbox" ng-model="row.selected" ng-show="super">&nbsp;&nbsp;
                        
                    </td>
                    <td class="col-sm-1-5">{{row.LastName}}</td>
                    <td class="col-sm-1-5">{{row.FirstName}}</td>
                    <td class="col-sm-1-5">{{row.MiddleName}}</td>
                    <td class="col-sm-1-5">{{row.JTS}}</td>
                    <td class="col-sm-1-5">{{row.SSN}}</td>
                    <td class="col-sm-1-5">{{row.DOB | date: 'MM/dd/yyyy' }}</td>
                    <td style="text-align:center" class="col-sm-1-5">{{row.Gender}}</td>
                    <td class="col-sm-1-5">
                        <button type="button" class="btn btn-xs btn-primary" style="margin-bottom:5px"
                                ng-click="RevertInactiveClientProfile(row)" ng-show="admin">
                            Revert
                        </button>
                    </td>
                </tr>
                <tr ng-if="displayed.length === 0">
                    <td style="text-align:center;" colspan="8">
                        No Profiles found
                    </td>
                </tr>
            </tbody>
            <!--<tfoot>
                            <tr><td><div st-items-by-page="1" st-pagination=""></div>
            </tr>
                        </tfoot>-->
            <tbody ng-show="isLoading">
                <tr>
                    <td style="text-align:center;padding-left:30em;" colspan="8">
                        <div class="loading-indicator">
                            <i class="fa fa-repeat fa-spin"></i> Loading . . .
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
       
    </div>
</div>