
<div  style="float: left; width: 50%" class="container" ng-controller="signupController">
    <div class="container">
        <h4><i class="fa fa-check-circle"></i> Register  User</h4>
    </div><br><br>
    <form class="form-horizontal" name="frmPerson" novalidate role="form" autocomplete="off">
        <input style="display:none" type="text" name="fakeusernameremembered" />
        <input style="display:none" type="password" name="fakepasswordremembered" />
        <input style="display:none" type="text" name="fakeusernameremembered" />
        <div class="form-group">
            <!--ng-class="{ 'has-error' : submitted && frmClientInfo.idCode.$invalid }"-->
            <label class="col-sm-2 control-label">User Name </label>
            <div class="col-sm-3">
                <input type="text" class="form-control" name="txtEmail" placeholder="UserName"
                       ng-model="registration.userName" required />
                <!--typeahead-on-select="setPcode($item)"
                typeahead="lName.LastName as lName.LastName + ',' + lName.FirstName for lName in Persons| filter:{LastName:$viewValue}">-->
            </div>
            <div>
               
                <span class="text-danger" ng-show="frmPerson.txtEmail.$error.email && frmPerson.txtEmail.$dirty">invalid email</span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Password </label>
            <div class="col-sm-3">
                <input type="password" class="form-control" name="txtMiddleName" placeholder="Password"
                       ng-model="registration.password" required ng-keyup="validatepwd()">
            </div>
    
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Confirm Password </label>
            <div class="col-sm-3">
                <input type="password" class="form-control" name="txtMiddleName" placeholder="Confirm Password" required
                       ng-model="registration.confirmPassword" ng-keyup="validatepwd()" >
            </div>
            <div ng-hide="pwdmatch">
                <span class="text-danger">Password Not Matched</span>
            </div>
            <div data-ng-show="message">
                <span class="text-danger">{{message}}</span>
            </div>
        </div>
        <div class="form-group" ng-show="IsVisibleJuvenile" >
            <label class="col-sm-2 control-label">User Role </label>
            <div class="col-sm-3">
                <select name="singleSelect" ng-model="registration.UserRole">
                    <option value="superuser">superuser</option>
                    <option value="admin">admin</option>
                    <option value="djs">djs</option>
                    <option value="csu">csu</option>
                   
                </select>
            </div>
           
        </div>
        <div class="form-group" ng-show="IsVisibleAdult">
            <label class="col-sm-2 control-label">User Role </label>
            <div class="col-sm-3">
                <select name="singleSelect" ng-model="registration.UserRole">
                    <option value="AdultAdmin">AdultAdmin</option>
                    <option value="AdultCaseManager">AdultCaseManager</option>
                
                </select>
            </div>

        </div>
        <div class="form-group" ng-show="IsVisibleCwb">
            <label class="col-sm-2 control-label">User Role </label>
            <div class="col-sm-3">
                <select name="singleSelect" ng-model="registration.UserRole">
                     <option value="OCWBAdmin">OCWBAdmin</option>
                    <option value="OCWBCaseManager">OCWBCaseManager</option>
                </select>
            </div>

        </div>
        <div class="modal-footer">
            
            <div style=" float: left;width:30%">
                <!--<button type="submit" class="btn btn-sm btn-primary"  ng-click="registerallusers()">RegisterAll</button>-->
                <button type="submit" class="btn btn-sm btn-primary" ng-disabled="frmPerson.$invalid || !frmPerson.$dirty||!pwdmatch" ng-click="signUp()">Register</button>
                <button type="button" class="btn btn-sm btn-primary" ng-disabled="!frmPerson.$dirty"  ng-click="Reset()">Reset</button>
            </div>
        </div>
    </form>
</div>  
<div style="float: right; width: 50%" class="container" ng-controller="signupController">
    <form class="form-horizontal" name="frmReset" novalidate role="form" autocomplete="off">
        <h4><i class="fa fa-check-circle"></i> Reset Password</h4><br>
        <label class="col-sm-3 control-label">User Name </label>
        <div class="col-sm-3">
            <input type="text" class="form-control"  placeholder="UserName"
                   ng-model="usernameforreset" required />
        </div>
        <label class="col-sm-3 control-label">New Password </label>
         <div class="col-sm-3">
         <input type="text" class="form-control"  placeholder="New Password"  pattern=".{6,}"
          ng-model="resetpassword" required />
 </div><br><br><br> <div>
        <button type="button" style="float:right" class="btn btn-sm btn-primary"  ng-disabled="frmReset.$invalid || !frmReset.$dirty" ng-click="ResetPassword()">Reset Password</button>
        </div>
        </form>
</div>
<br><br><br>
<div  class="container" ng-controller="signupController">
    <form style="text-align:left"class="form-horizontal" name="frmRemove" novalidate role="form" autocomplete="off">
        <h4><i class="fa fa-check-circle"></i> Remove User</h4><br>
        <label class="col-sm-2 control-label">User Name </label>
        <div class="col-sm-3">
            <input type="text" class="form-control" placeholder="UserName"
                   ng-model="usernameforremove" required />
        </div>
       
       <br><br><br> <div>
            <button type="button" style="float:right" class="btn btn-sm btn-primary" ng-disabled="frmRemove.$invalid || !frmRemove.$dirty" ng-click="RemoveUser()">Delete User</button>
        </div>
    </form>
</div>
