.st-selected {
  background-color: #0044cc !important;
  color: white !important;
}

.st-sort-ascent:before {
    content: '\25B2';
}

.st-sort-descent:before {
    content: '\25BC';
}

.lr-drop-target-before{
  border-left: 2px solid orange;
}

.lr-drop-target-after{
  border-right: 2px solid orange;
}

.sttable {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 500px; /* this can vary */
}

.sttable * {
    box-sizing: inherit;
    -moz-box-sizing: inherit;
}

.sttable thead {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.sttable tbody {
    overflow-y: scroll;
    display: inline-block;
}

.sttable thead > tr, .sttable tbody > tr, .sttable tfoot >  tr {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;    
}

.sttable thead, .sttable tfoot {
    flex-shrink: 0;
}

.sttable th {
    width: 20%; 
    height:35px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    text-wrap:avoid;
}

.sttable tbody td {
    width: 40%; 
    min-height:32px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

.sttable tfoot {
    display: inline-block;
}

.sttable tfoot td {
    width: 100%;
    display: inline-block;
}
.search-table {
    height: 600px; 
}